<template>
    <div>
      <soft-button color="dark" variant="gradient" data-bs-toggle="modal" data-bs-target="#modalRol">
        <i class="fas fa-plus me-2"></i>
          Agregar Rol
      </soft-button>

      <div class="modal fade" id="modalRol" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Registro de rol
              </h5>
              <button @click="limpiar()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form id="formRol" role="form"  @submit.prevent="RegistroRol()">
                  <div class="mb-3">
                    <soft-input
                      id="nombreRol"
                      type="text"
                      placeholder="Rol"
                      aria-label="Name"
                    />
                  </div>
                  <div class="mb-3">
                    <soft-input
                      id="descripcionRol"
                      type="text"
                      placeholder="Descripcion"
                      aria-label="Name"
                    />
                  </div>
                  <div class="mb-3">
                    <select id="estadoRol" class="form-select" aria-label="Seleccionar genero">
                      <option selected>Estado</option>
                      <option value="true">Habilitado</option>
                      <option value="false">Deshabilitado</option>
                    </select>
                  </div>
                  <div class="text-center">
                    <soft-button
                      color="dark"
                      full-width
                      variant="gradient"
                      class="my-2 mb-2"
                      >GUARDAR DATOS</soft-button
                    >
                  </div>
                </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
export default{
  name: "ModalRol",
  data() {
    return {
      rol: null,
      descripcion: null,
      estado:false
    };
  },
  components: {
    SoftInput,
    SoftButton,
  },
  methods:{
    async RegistroRol(){
        this.rol = document.getElementById("nombreRol").value 
        this.descripcion = document.getElementById("descripcionRol").value
        this.estado = document.getElementById("estadoRol").value

        try {
          const rol  = {
            rol: this.rol,
            descripcion: this.descripcion,
            estado: this.estado
          }
          const {data} = await this.$api.post("rol",rol)
          this.$emit("rol",data.rol)
          const toast = useToast();
          toast.success(data.msg);          
          this.limpiar()
        } catch (error) {
          const toast = useToast();
          toast.error(error.message);
        }
    },
    limpiar(){
          let form = document.getElementById("formRol")
          form.reset()
    }
  }
}
</script>