<template>
    <div>
      <soft-button color="dark" variant="gradient" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="fas fa-plus me-2"></i>
          Agregar tipo de habitacion
      </soft-button>

      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Registro de tipo de habitacion 
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="limpiar()"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form id="formTipoHab" role="form" @submit.prevent="registrarTipoHab()">
                <div class="mb-3">
                  <soft-input
                    id="nombretp"
                    type="text"
                    placeholder="Tipo de habitacion"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="descripciontp"
                    type="text"
                    placeholder="Descripcion"
                    aria-label="Name"
                  />
                </div>
                <div class="text-center">
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    >GUARDAR DATOS</soft-button
                  >
                </div>
              </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
export default{
  name: "ModalTipoHabitacion",
  components: {
    SoftInput,
    SoftButton,
  },
  data(){
    return{
      nombre: "",
      descripcion: "",
    }
  },
  methods:{
    async registrarTipoHab(){
      this.nombre = document.getElementById("nombretp").value 
      this.descripcion = document.getElementById("descripciontp").value 
      
      const habitaciontp = {
        nombre: this.nombre,
        descripcion: this.descripcion
      }
      try {
      const {data} = await this.$api.post("tipo_habitacion",habitaciontp)
      const toast = useToast();
      toast.success(data.msg);
      this.$emit("response",true)
      this.limpiar()
      } catch (error) {
        const toast = useToast();
        toast.error(error.message);
      }
      
    },
    limpiar(){
      let form = document.getElementById("formTipoHab")
      form.reset()
    }
  }
}
</script>
