<template>
    <div>
      <soft-button color="dark" variant="gradient" data-bs-toggle="modal" data-bs-target="#hospedaje">
        <i class="fas fa-plus me-2"></i>
          H 
      </soft-button>

      <div class="modal fade" id="hospedaje" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Regsitro de Hospedaje
              </h5>
              <button type="button" @click="limpiar()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form id="formHospedaje" role="form" @submit.prevent="RegistrarHospedaje()">
                <div class="mb-3">
                  <soft-input
                    id="ident"
                    type="text"
                    placeholder="Identificador"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="nombre_completo"
                    type="text"
                    placeholder="Nombre Completo"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="edad"
                    type="text"
                    placeholder="edad"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="procedencia"
                    type="text"
                    placeholder="Procedencia"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="destino"
                    type="text"
                    placeholder="Destino"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="cant_personas"
                    type="number"
                    placeholder="Numero de personas"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="adelanto"
                    type="number"
                    placeholder="Pago adelantado"
                    aria-label="Name"
                  />
                </div>
                <div class="text-center">
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    >GUARDAR DATOS</soft-button
                  >
                </div>
              </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
export default{
  name: "ModalHospedaje",
  data() {
    return {
    //   ident: null,
    //   nombres: null,
    //   procedencia: null,
    //   destino : null,
    //   edad: null,
    //   cantidad_personas: null,
    //   trabajo: false,
    //   userId: null,
    //   personaId: null,
    //   habitacionId: null
    };
  },
  components: {
    SoftInput,
    SoftButton,
  },
  created(){
    
  },
  methods:{
      async RegistrarHospedaje(){
        const toast = useToast();
        toast.success("hospedaje");
      }
  }
}
</script>