<template>
    <div>
      <soft-button color="dark" variant="gradient" data-bs-toggle="modal" :data-bs-target="'#detalle'+habitacion.id">
        <i class="fas fa-plus me-2"></i>
          Detalle
      </soft-button>

      <div class="modal fade" :id="'detalle'+habitacion.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content tama" 
             style="width:100% !important;">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Detalle
              </h5>
              <button type="button" @click="limpiar()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="mb-3">
                  <soft-input
                    :id="'d_CiTitular'+habitacion.id"
                    type="text"
                    placeholder="CI TITULAR"
                    aria-label="Name"
                    :value="'Titular: '+reporte.CiTitular"
                    isDisabled
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    :id="'d_procedencia'+habitacion.id"
                    type="text"
                    placeholder="Procedencia"
                    aria-label="Name"
                    :value="'Procedencia: '+reporte.procedencia"
                    isDisabled
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    :id="'d_destino'+habitacion.id"
                    type="text"
                    placeholder="Destino"
                    aria-label="Name"
                    :value="'Destino: '+reporte.destino"
                    isDisabled
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    :id="'d_cant_personas'+habitacion.id"
                    type="text"
                    placeholder="Numero de personas"
                    aria-label="Name"
                    :value="'Numero de personas: '+reporte.cantidad_personas"
                    isDisabled
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    :id="'d_num_noches'+habitacion.id"
                    type="text"
                    placeholder="Numero de noches"
                    aria-label="Name"
                    :value="'Noches reservadas: '+reporte.num_noches"
                    isDisabled
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    :id="'d_pago'+habitacion.id"
                    type="text"
                    placeholder="Pago"
                    aria-label="Name"
                    :value="'Pago realizado: '+reporte.pago"
                    isDisabled
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    :id="'d_saldo'+habitacion.id"
                    type="text"
                    placeholder="Pago"
                    aria-label="Name"
                    :value="'Saldo: '+reporte.saldo"
                    isDisabled
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    :id="'d_motivo'+habitacion.id"
                    type="text"
                    placeholder="Pago"
                    aria-label="Name"
                    :value="'Trabajo: '+reporte.trabajo"
                    isDisabled
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    :id="'d_estado'+habitacion.id"
                    type="text"
                    placeholder="Pago"
                    aria-label="Name"
                    :value="'Estado: '+reporte.estado"
                    isDisabled
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    :id="'d_tipo'+habitacion.id"
                    type="text"
                    placeholder="Pago"
                    aria-label="Name"
                    :value="'Tipo de transaccion: '+reporte.tipo"
                    isDisabled
                  />
                </div>
                <h5 class="card-title" v-if="reporte.CiAcompañantes!=0">LISTA DE ACOMPAÑANTES</h5>
                <div class="d-flex justify-content-center">
                    <ul class="list-group">
                        <li class="list-group-item align-items-center d-flex justify-content-between" v-for="item in reporte.CiAcompañantes" :key="item.id">
                            <span class="text">CI o DNI: {{item}}</span>
                        </li>
                    </ul>
                </div>
                <div class="text-center">
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    v-if="reporte.saldo>0"
                    @click="saldar()"
                    >SALDAR</soft-button
                  >
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    @click="liberar()"
                    >Liberar</soft-button
                  >
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
import {mapState} from "vuex"
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
export default{
  name: "DetalleReserva",
  props:{
    habitacion:Object
  },
  data() {
    return {
        reporte:""
    };
  },
  components: {
    SoftInput,
    SoftButton,
  },
  computed:{
    ...mapState(['id_usuario','id_caja']),
  },
  created(){
    //this.listarPersonas()
    this.verReporte()
  },
  methods:{
          async AgregarCaja(pago){
          const {data} = await this.$api.get("caja/"+this.id_usuario)
          const caja = {
            monto_reserva: parseFloat(data.monto_reserva)+ parseFloat(pago),
            monto_cierre: parseFloat(data.monto_cierre)+ parseFloat(pago),
            estado: data.estado,
            userId: data.userId
          }
          try {
              const detalle= {
                monto: pago,
                tipo: "ingreso",
                fichaId:this.reporte.id,
                cajaId: this.id_caja
              }
              await this.$api.post("detalleCaja",detalle)
              await this.$api.put("caja/"+this.id_caja, caja)
            } catch (error) {
              const toast = useToast();
              toast.error(error.message);
            }
      },
     async verReporte(){
        const {data} = await this.$api.get("reporte_reserva/"+this.habitacion.id+"/"+true)
        this.reporte = data
     },
    async saldar(){
        const update = {
            saldo:0,
            pago: this.reporte.num_noches*this.habitacion.precio_noche,
            estado:true
        }
        try {
            const {data} =  await this.$api.put("reporte_reserva/"+this.reporte.id,update)
            const toast = useToast();
            toast.success(data.msg);
            this.AgregarCaja(this.reporte.saldo)
            this.verReporte()
        } catch (error) {
          const toast = useToast();
          toast.error(error.message);
        }
        
    },
    async liberar(){
        const update = {
            saldo:0,
            pago: this.reporte.num_noches*this.habitacion.precio_noche,
            estado:false
        }
        try {
            await this.$api.put("reporte_reserva/"+this.reporte.id,update)
        const status = {
            estado : "disponible"
        }
        const {data} = await this.$api.put("habitacionEstado/"+this.habitacion.id,status)
        if(this.reporte.saldo!=0){
          this.AgregarCaja(this.reporte.saldo)
        }
        const toast = useToast();
        toast.success(data.msg);
        } catch (error) {
          const toast = useToast();
          toast.error(error.message);
        }
    },
    limpiar(){
        this.$emit("response", true)
    }

  }
}
</script>
<style>
</style>