<template>
    <div>
      <soft-button color="dark" variant="gradient" data-bs-toggle="modal" data-bs-target="#staticBackdropMenu">
        <i class="fas fa-plus me-2"></i>
          Agregar Menu
      </soft-button>

      <div class="modal fade" id="staticBackdropMenu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Registro de Menu
              </h5>
              <button @click="limpiar()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form id="formMenu" role="form" @submit.prevent="registrarProducto()">
                <div class="mb-3">
                  <soft-input
                    id="nombre_producto"
                    type="text"
                    placeholder="Nombre de producto"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="descripcion_producto"
                    type="text"
                    placeholder="Descripcion del producto"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="precio_producto"
                    type="number"
                    placeholder="Precio c/u"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="precio_descuento"
                    type="number"
                    placeholder="Descuento"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                    <select  id="estado_menu" class="form-select" aria-label="Seleccionar estado">
                      <option selected disabled>Estado del producto</option>
                      <option  value="true">Disponible</option>
                      <option  value="false"  >Agotado</option>
                    </select>
                  </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Cargar Imagen de Producto</label>
                    <input class="form-control" @change="onChange" type="file" id="imagen_producto"  accept="image/*">
                </div>
                <div class="mb-3" v-if="imagen">
                    <img :src="imagen" alt="" width="100" height="100">
                </div>
                <div class="text-center">
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    >GUARDAR DATOS</soft-button
                  >
                </div>
              </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
import $ from 'jquery';
import 'bootstrap/js/dist/modal';
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
export default{
  name: "ModalAddMenu",
  components: {
    SoftInput,
    SoftButton,
  },
  data(){
    return{
      producto: "",
      descripcion: "",
      precio_cu:"",
      precio_descuento:"",
      estado: "",
      imagen: null,
    }
  },
  methods:{
    onChange(event) {
      this.imagen = null
      var input = event.target;
      this.imagen = event.target.files[0]
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imagen = e.target.result
        }
        reader.readAsDataURL(input.files[0]);
      }
    },
    async registrarProducto(){
      this.producto = document.getElementById("nombre_producto").value 
      this.descripcion = document.getElementById("descripcion_producto").value 
      this.precio_cu = document.getElementById("precio_producto").value 
      this.precio_descuento = document.getElementById("precio_descuento").value
      this.estado = document.getElementById("estado_menu").value

          const menu  = {
            producto: this.producto,
            descripcion: this.descripcion,
            precio_cu: this.precio_cu,
            precio_descuento:this.precio_descuento,
            estado: this.estado,
            imagen: this.imagen
          }
          try {
            const {data} = await this.$api.post("menu",menu)
            this.$emit("menu",data.menu)
            this.limpiar()
            const toast = useToast();
            toast.success(data.msg);
            $('#staticBackdropMenu').modal('hide');
            $('body').addClass('modal-open');
            $('.modal-backdrop').remove();
            $('#staticBackdropMenu').off('hidden.bs.modal').on('hidden.bs.modal', function () {
            $('body').removeClass('modal-open');            
            });
          } catch (error) {
            const toast = useToast();
            toast.error(error.message);
          }
    },
    limpiar(){
      let form = document.getElementById("formMenu")
      form.reset()
      this.imagen= null
    }
  }
}
</script>
