<template>
    <div>
      <soft-button color="dark" variant="gradient" data-bs-toggle="modal" data-bs-target="#modalTurno">
        <i class="fas fa-plus me-2"></i>
          Agregar Turno
      </soft-button>

      <div class="modal fade" id="modalTurno" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Registro de turno
              </h5>
              <button @click="limpiar()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form id="formTurno" role="form"  @submit.prevent="RegistroRol()">
                  <div class="mb-3">
                    <soft-input
                      id="nombreTurno"
                      type="text"
                      placeholder="Turno"
                      aria-label="Name"
                    />
                  </div>
                  <div class="mb-3">
                    <soft-input
                      id="horaIngreso"
                      type="text"
                      placeholder="Hora Ingreso"
                      aria-label="Name"
                    />
                  </div>
                  <div class="mb-3">
                    <soft-input
                      id="horaSalida"
                      type="text"
                      placeholder="Hora Salida"
                      aria-label="Name"
                    />
                  </div>
                  <div class="text-center">
                    <soft-button
                      color="dark"
                      full-width
                      variant="gradient"
                      class="my-2 mb-2"
                      >GUARDAR DATOS</soft-button
                    >
                  </div>
                </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
export default{
  name: "ModalRol",
  data() {
    return {
      turno: null,
      ingreso: null,
      salida:null
    };
  },
  components: {
    SoftInput,
    SoftButton,
  },
  methods:{
    async RegistroRol(){
        this.turno = document.getElementById("nombreTurno").value 
        this.ingreso = document.getElementById("horaIngreso").value
        this.salida = document.getElementById("horaSalida").value

        try {
          const turno  = {
            turno: this.turno,
            hora_ingreso: this.ingreso,
            hora_salida: this.salida
          }
          const {data} = await this.$api.post("turno",turno)
          this.$emit("turno",data.turno)
          const toast = useToast();
          toast.success(data.msg);
          this.limpiar()
        } catch (error) {
          const toast = useToast();
          toast.error(error.message);
        }
    },
    limpiar(){
          let form = document.getElementById("formTurno")
          form.reset()
    }
  }
}
</script>