<template>
    <div>
      <soft-button color="dark" variant="gradient" data-bs-toggle="modal" data-bs-target="#staticBackdropHab">
        <i class="fas fa-plus me-2"></i>
          Agregar activo
      </soft-button>

      <div class="modal fade" id="staticBackdropHab" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Registro de activos
              </h5>
              <button @click="limpiar()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form id="formActivo" role="form" @submit.prevent="registrarActivo()">
                <div class="mb-3">
                  <soft-input
                    id="nombre_activo"
                    type="text"
                    placeholder="Nombre de activo"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="codigo_activo"
                    type="text"
                    placeholder="Codigo de activo ej: TV001"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="descripcion_activo"
                    type="text"
                    placeholder="Descripcion"
                    aria-label="Name"
                    d
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="marca"
                    type="text"
                    placeholder="Marca"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                    <select  id="estado_activo" class="form-select" aria-label="Seleccionar estado">
                      <option selected disabled>Estado del activo</option>
                      <option  value="disponible">Disponible</option>
                      <option  value="ocupado"  >Ocupado</option>
                      <option  value="mantenimiento">Mantenimiento</option>
                    </select>
                  </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Cargar Imagen de Activo</label>
                    <input class="form-control" @change="onChange" type="file" id="imagen_activo"  accept="image/*">
                </div>
                <div class="mb-3" v-if="imageActivo">
                    <img :src="imageActivo" alt="" width="100" height="100">
                </div>
                <div class="text-center">
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    >GUARDAR DATOS</soft-button
                  >
                </div>
              </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
export default{
  name: "ModalAddActivo",
  components: {
    SoftInput,
    SoftButton,
  },
  data(){
    return{
      nombre: "",
      codigo_activo: "",
      descripcion: "",
      marca: "",
      estado:"",
      imagen: "",
      imageActivo:null,
    }
  },
  methods:{
    onChange(event) {
      this.imageActivo = null
      var input = event.target;
      this.imagen = event.target.files[0]
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imageActivo = e.target.result
        }
        reader.readAsDataURL(input.files[0]);
      }
    },
    async registrarActivo(){
      this.nombre = document.getElementById("nombre_activo").value 
      this.codigo_activo = document.getElementById("codigo_activo").value 
      this.descripcion = document.getElementById("descripcion_activo").value 
      this.marca = document.getElementById("marca").value 
      this.estado = document.getElementById("estado_activo").value 
      //this.imagen = document.getElementById("imagen").value
          const activo  = {
            nombre: this.nombre,
            codigo_activo: this.codigo_activo,
            descripcion: this.descripcion,
            marca: this.marca,
            estado: this.estado,
            imagen: this.imageActivo
          }
          try {
            const {data} = await this.$api.post("activo",activo)
            this.$emit("activo",data.activo)
            this.limpiar()
            const toast = useToast();
            toast.success(data.msg);
          } catch (error) {
            const toast = useToast();
            toast.success(error.message);
          }
    },
    limpiar(){
      let form = document.getElementById("formActivo")
      form.reset()
      this.imageActivo= null
    }
  }
}
</script>
