<template>
    <div>
      <soft-button color="dark" variant="gradient" data-bs-toggle="modal" :data-bs-target="'#reserva'+habitacion.id">
        <i class="fas fa-plus me-2"></i>
          Reservar/Hospedar
      </soft-button>

      <div class="modal fade" :id="'reserva'+habitacion.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" style="display: flex; justify-content: center; align-items: center;">
          <div class="modal-content">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Registro de reserva 
              </h5>
              <button type="button" @click="limpiar()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="width: 1000px;">
              <div class="container-fluid">
                <form :id="'formReserva'+habitacion.id" role="form" @submit.prevent="RegistrarReserva()">
                  <hr>
                <span style="color:red;">Nota: El titular a insertar debe haber sido registrados en la seccion de registros antes de ser asignado a una reserva</span>
                <hr>
              <div class="row">
                  <div class="col-6 col-md-12">
                      <label for="">CLIENTES</label>
                      <vue-select v-model="fullpersona" :options="fullpersonas" id="cipasar" name="cipasar"></vue-select>
                      <soft-input :id="'CiTitular'+habitacion.id" :value="fullpersona ? fullpersona.ci_dni : ''" @input="fullpersona && (fullpersona.ci_dni = $event.target.value)" type="text" placeholder="CI TITULAR" aria-label="Name" hidden/><br>
                  </div>
                  <div class="col-6 col-md-6">
                      <label for="">PROCEDENCIA</label>
                      <soft-input
                    :id="'procedencia'+habitacion.id"
                    type="text"
                    placeholder="Procedencia"
                    aria-label="Name"
                      />
                  </div>
                  <div class="col-6 col-md-6">
                      <label for="">DESTINO</label>
                      <soft-input
                        :id="'destino'+habitacion.id"
                        type="text"
                        placeholder="Destino"
                        aria-label="Name"
                      />
                  </div>                  
                  <div class="col-6 col-md-2">
                    <label for="">N° DE PERSONAS</label>
                    <soft-input 
                      :id="'cant_personas'+habitacion.id" 
                      type="number" 
                      placeholder="Numero de personas" 
                      aria-label="Name" 
                      :value="num_acompañantes" 
                      @input="num_acompañantes = $event.target.value" 
                      readonly
                    />
                  </div>
                  <div class="col-6 col-md-2">
                    <label for="">PRECIO HAB</label>
                    <input
                      :id="'precio_hab_'+habitacion.id"
                      type="number"
                      placeholder="precio habitacion"
                      aria-label="Name"
                      :value="habitacion.precio_noche"
                      readonly
                    />
                  </div>
                  <div class="col-6 col-md-2">
                    <label for="">N° DE NOCHES</label>
                    <input
                      :id="'num_noches'+habitacion.id"
                      type="number"
                      placeholder="Numero de noches"
                      aria-label="Name"
                      v-model="num_noches"
                    />
                  </div>                  
                  <div class="col-6 col-md-6" style="background: #CACACA;">
                    <label for="">Escriba DNI de los acompañantes</label>
                    <div class=" mb-3 dropdown">
                        <input v-model="ci_dni" type="text" class="form-control dropdown-toggle" placeholder="CI acompañantes"
                            aria-label="Recipient's username" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li v-if="ci_dni"><a class="dropdown-item" href="#" v-for="persona in ListaPersonas" :key="persona.id"
                                    @click="agregar(persona)" style="width: 200px;">
                                    {{persona.nombres}} <br>{{persona.ci_dni}}</a></li>
                            <li v-else><a href="#" class="dropdown-item">Sin Resultados</a></li>
                        </ul>
                    </div>
                  </div>
                  <div class="col-6 col-md-3">
                    <label for="">PAGO</label>
                    <input
                      :id="'pago'+habitacion.id"
                      type="number"
                      placeholder="Pago"
                      aria-label="Name"
                      :value="pago"
                      disabled
                    />
                  </div>  
                  <div class="col-6 col-md-2" hidden>
                      <label for="">MOTIVO DE TRABAJO</label>
                      <select :id="'motivo'+habitacion.id" class="form-select" aria-label="Seleccionar estado">
                        <option value="true">SI</option>
                        <option value="false">NO</option>
                      </select>
                  </div>
                  <div class="col-6 col-md-3" hidden>
                      <label for="">ESTADO DE RESERVA</label>
                      <select :id="'estado'+habitacion.id" class="form-select" aria-label="Seleccionar estado">
                        <option value="true">Activo</option>
                      </select>
                  </div>
                  <div class="col-6 col-md-3">
                      <label for="">TIPO DE OPERACION</label>
                      <select :id="'tipo'+habitacion.id" class="form-select" aria-label="Seleccionar estado">
                        <option selected>Seleccione una opcion ..</option>
                        <option value="Reservacion">Reservacion</option>
                        <option value="Hospedaje">Hospedaje</option>
                      </select>
                  </div>
                  <dir class="col-6 col-md-6" style="background: #CACACA;">
                    <label for="">Lista De Los Acompañantes</label>
                    <div class="d-flex justify-content-center">
                        <ul class="list-group">
                            <li class="list-group-item align-items-center d-flex justify-content-between" v-for="item in acompañantes" :key="item.id">
                                <span class="text">{{item.nombres}}, {{item.ci_dni}}</span>
                                <span class="btn" @click="removerTodo(item.id)">
                                <i class='fa fa-trash-o'></i></span>
                            </li>
                        </ul>
                    </div>
                  </dir>                 
              </div>
              <div class="row">
                <div class="col-6 col-md-12">
                  <div class="text-center">
                    <soft-button
                      color="dark"
                      full-width
                      variant="gradient"
                      class="my-2 mb-2"
                      >GUARDAR DATOS</soft-button
                    >
                  </div>
                </div>
              </div>                
              </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
import {mapState} from "vuex"
import VueSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
import axios from "axios";
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
export default{
  name: "ModalReserva",
  props:{
    habitacion:Object
  },
  data() {
    return {
      ci_titular:null,
      procedencia:null,
      destino: null,
      num_personas: null,
      num_noches: null,
      pago:null,
      saldo: null,
      trabajo:false,
      estado:false,
      ci_dni:null,
      tipo:null,
      acompañantes:[],
      personas:[],
      userId:null,
      personaId:null,
      fullpersona: null,
      fullpersonas: [],
    };
  },
  mounted() {
      axios.get('http://localhost:7777/api/persona')
        .then(response => {
          this.fullpersonas = response.data.map(persona => {
            const fullName = `${persona.nombres} ${persona.apellidoP} ${persona.apellidoM} - ${persona.ci_dni}`;
            return { value: persona.ci_dni, label: fullName }
          })
        })
        .catch(error => {
          console.log(error);
        });
    },
    watch: {
      fullpersona(newValue) {
        if (newValue) {
          console.log("si", newValue.value);
          if (this.fullpersona) {
            this.fullpersona.ci_dni = newValue.value;
          }
        } else {
          console.log("no");
          if (this.fullpersona) {
            this.fullpersona.ci_dni = null;
          }
        }
      },
      num_noches: function() {
        this.calcularPago();
      }
    },
  components: {
    SoftInput,
    SoftButton,
    VueSelect,
  },
  computed:{
    ...mapState(['id_usuario','id_caja']),
    num_acompañantes() {
        return this.acompañantes.length        
    },
    ListaPersonas(){
            var newPersonas  = []
            if(this.ci_dni!=null){
                newPersonas  = this.personas.filter(item => !item.ci_dni.indexOf(this.ci_dni))
            }   
            return newPersonas
        }
  },
  created(){
    this.listarPersonas()
  },
  methods:{
      calcularPago() {
        this.pago = this.num_noches * this.habitacion.precio_noche;
      },
      async AgregarCaja(pago,id){
          const {data} = await this.$api.get("caja/"+this.id_usuario)
          const caja = {
            monto_reserva: parseFloat(data.monto_reserva)+ parseFloat(pago),
            monto_cierre: parseFloat(data.monto_cierre)+ parseFloat(pago),
            estado: data.estado,
            userId: data.userId
          }
          try {
            const detalle= {
                monto: pago,
                tipo: "ingreso",
                fichaId:id, 
                cajaId: this.id_caja
              }
              await this.$api.post("detalleCaja",detalle)
              await this.$api.put("caja/"+this.id_caja, caja)
            } catch (error) {
              const toast = useToast();
              toast.error(error.message);
            }
      },
      async RegistrarReserva(){
        this.ci_titular = document.getElementById("CiTitular"+this.habitacion.id).value 
        this.procedencia = document.getElementById("procedencia"+this.habitacion.id).value
        this.destino = document.getElementById("destino"+this.habitacion.id).value
        this.num_personas = document.getElementById("cant_personas"+this.habitacion.id).value
        this.num_noches = document.getElementById("num_noches"+this.habitacion.id).value
        this.pago = document.getElementById("pago"+this.habitacion.id).value
        this.saldo = this.habitacion.precio_noche*this.num_noches - this.pago
        this.trabajo = document.getElementById("motivo"+this.habitacion.id).value
        this.estado = document.getElementById("estado"+this.habitacion.id).value
        this.tipo = document.getElementById("tipo"+this.habitacion.id).value
        this.userId = this.id_usuario
        var ci_acompañantes = []
        this.acompañantes.forEach(element => {
          ci_acompañantes.push(element.ci_dni)
        });
        try {
          const {data} = await this.$api.get("/personaCi/"+this.ci_titular)
          this.personaId = data.persona.id
          const resporteReserva = {
            CiTitular: this.ci_titular,
            CiAcompañantes:ci_acompañantes,
            procedencia: this.procedencia,
            destino: this.destino,
            cantidad_personas: this.num_personas,
            trabajo: this.trabajo,
            pago: this.pago,
            num_noches: this.num_noches,
            saldo: this.saldo,
            estado: this.estado,
            tipo: this.tipo,
            userId: this.userId,
            personaId: this.personaId,
            habitacionId: this.habitacion.id
          }
          const res = await this.$api.post("reporte_reserva", resporteReserva)
          const status = {estado:"Ocupado"}
          await this.$api.put("habitacionEstado/"+this.habitacion.id,status)
          this.AgregarCaja(this.pago,res.data.response.id)
          const toast = useToast();
          toast.success(data.msg);
        } catch (error) {
          const toast = useToast();
          toast.error(error.message);
        }
      },
      removerTodo(id){
        this.acompañantes = this.acompañantes.filter(t => t.id !== id)
      },
      async listarPersonas(){
        const {data} = await this.$api.get("persona")
        this.personas = data
      },
      agregar(persona){
        this.acompañantes.push(persona);
        this.num_acompañantes = this.acompañantes.length;
      },
      limpiar(){
        let form = document.getElementById("formReserva"+this.habitacion.id)
        form.reset()
        this.$emit("response", true)
      }

  }
}
</script>
<style>
</style>