<template>
    <div>
      <soft-button class="ajust" color="dark" variant="gradient" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="fas fa-plus me-2"></i>
          {{labelBtn}}
      </soft-button>

      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Registro de usuario nuevo
              </h5>
              <button type="button" @click="limpiar()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form id="formUser" role="form" @submit.prevent="RegistrarUsuario()">
                <div class="mb-3">
                  <soft-input
                    id="email"
                    type="email"
                    placeholder="Email"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="password"
                    type="password"
                    placeholder="Contraseña"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="r_password"
                    type="password"
                    placeholder="Repita la contraseña"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="nombre_completo"
                    type="text"
                    placeholder="Nombre completo"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="ci"
                    type="text"
                    placeholder="Cedula de identidad"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <select id="rol" class="form-select" aria-label="Seleccionar rol">
                    <option selected>Seleccione el rol del usuario</option>
                    <option v-for="item in ArrayRoles" :key="item.id" :value="item.rol">{{item.rol}}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <select id="turno" class="form-select" aria-label="Seleccionar rol">
                    <option selected >Seleccione el turno</option>
                    <option v-for="item in ArrayTurnos" :key="item.id" :value="item.id" >{{item.turno}}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <select id="estadoUser" class="form-select" aria-label="Seleccionar estado">
                    <option selected>Seleccionar estado del usuario</option>
                    <option value="Habilitado">Habilitado</option>
                    <option value="Deshabilitado">Deshabilitado</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="formFile" class="form-label">Cargar foto de perfil</label>
                  <input class="form-control" @change="onFileSelected" type="file"  id="foto" accept="image/*">
                </div>
                <div class="mb-3" v-if="imagen">
                  <img :src="imagen" alt="" width="120" height="100">
                </div>
                <div class="text-center">
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    >GUARDAR DATOS</soft-button
                  >
                </div>
              </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
export default{
  name: "ModalNuevoUsuario",
  data() {
    return {
      name:null,
      password: null,
      r_password: null,
      estado: null,
      rol: null,
      nombre_completo: null,
      ci:null,
      turno: null,
      image: null,
      imagen: null
    };
  },
  props:{
    ArrayRoles:Array(Object),
    ArrayTurnos:Array(Object),
    labelBtn: String
  },
  components: {
    SoftInput,
    SoftButton,
  },
  methods:{
      async RegistrarUsuario(){
      this.name = document.getElementById("email").value 
      this.password = document.getElementById("password").value 
      this.r_password = document.getElementById("r_password").value 
      this.estado = document.getElementById("estadoUser").value 
      this.rol = document.getElementById("rol").value 
      this.nombre_completo = document.getElementById("nombre_completo").value
      this.ci = document.getElementById("ci").value
      this.turno = document.getElementById("turno").value
      if(this.password!=this.r_password) {
        const toast = useToast();
        toast.error("Las contraseñas no coinciden");
      }
      else{
        const usuario = {
          email: this.name,
          password: this.password,
          nombre_completo: this.nombre_completo,
          ci: this.ci,
          estado: this.estado,
          rol:this.rol,
          imagen: this.imagen,
          turnoId: this.turno
        }
        try {
          const {data} = await this.$api.post("usuario",usuario)
          this.$emit("usuario",data.usuario)
          const toast = useToast();
          toast.success(data.msg);          
          this.limpiar()
        } catch (error) {
          const toast = useToast();
          toast.error(error.message);
        }
      }
    },
    onFileSelected(event){
      this.imagen = null
      var input = event.target;
      this.image = event.target.files[0]
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imagen = e.target.result
        }
        reader.readAsDataURL(input.files[0]);
      }
    },
    limpiar(){
      let form = document.getElementById("formUser")
      form.reset()
      this.imagen = null
    },

  }
}
</script>
<style>
.ajust{
  width: 100%;
}
</style>