
<template>
  <div>
    <soft-button color="dark" variant="gradient" data-bs-toggle="modal" data-bs-target="#staticBackdropPerson">
      <i class="fas fa-plus me-2"></i>
        Agregar persona
    </soft-button>
    <div class="modal fade" id="staticBackdropPerson" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog" style="display: flex; justify-content: center; align-items: center;">
        <div class="modal-content">
          <div class="modal-header text-center " color="dark" variant="gradient">
            <h5 class="modal-title text-white">
              Registro de nueva persona
            </h5>
            <button @click="limpiar()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            <div class="modal-body" style="width: 1000px;">
              <div class="container-fluid">
                <form id="formPersona" role="form" @submit.prevent="registrarPersona()">
                    <div class="row">
                        <div class="col-6 col-md-4">
                            <label for="">Nombres</label>
                            <soft-input
                            id="nombres"
                            type="text"
                            placeholder="Nombre Completo"
                            aria-label="Name"
                            />
                        </div>
                        <div class="col-6 col-md-4">
                            <label for="">Apellido Paterno</label>
                            <soft-input
                            id="apellidoP"
                            type="text"
                            placeholder="Apellido Paterno"
                            aria-label="Name"
                            />
                        </div>
                        <div class="col-6 col-md-4">
                            <label for="">Apellido Materno</label>
                            <soft-input
                            id="apellidoM"
                            type="text"
                            placeholder="Apellido Materno"
                            aria-label="Name"
                            />
                        </div>
                        <div class="col-6 col-md-4">
                            <label for="">Passaporte DNI o CI</label>
                            <soft-input
                            id="ci_dni"
                            type="text"
                            placeholder="CI o DNI"
                            aria-label="Name"
                            />
                        </div>
                        <div class="col-6 col-md-4">
                          <label for="">Genero</label>
                          <select id="genero" class="form-select" aria-label="Seleccionar genero">
                            <option selected>Genero</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Masculino">Masculino</option>
                          </select>
                        </div>
                        <div class="col-6 col-md-4">
                            <div>
                                <label for="nacionalidad">Elige una Nacionalidad:</label>
                                <vue-select v-model="nacionalidad" :options="nacionalidades" id="nacionalidad" name="nacionalidad"></vue-select>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <label for="">Profesion</label>
                            <soft-input
                            id="profesion"
                            type="text"
                            placeholder="Profesion"
                            aria-label="Name"
                            />
                        </div>
                        <div class="col-6 col-md-4">
                            <label for="">Estado Civil</label>
                            <select id="estado_civil" class="form-select" aria-label="Seleccionar estado civil">
                                <option selected>Estado Civil</option>
                                <option value="Soltero/a">Soltero/a</option>
                                <option value="Casado/a">Casado/a</option>
                                <option value="Divorciado/a">Divorciado/a</option>
                                <option value="Viudo/a">Viudo/a</option>
                                <option value="Separado/a">Separado/a</option>
                            </select>
                        </div>
                        <div class="col-6 col-md-4">
                            <label for="">Fecha De Nacimiento</label>
                            <soft-input
                            id="fecha_nacimiento"
                            type="date"
                            placeholder="Fecha de Nacimiento"
                            aria-label="Name"
                            />
                        </div>
                        <div class="col-6 col-md-4" hidden>
                          <select id="estado" class="form-select" aria-label="Seleccionar estado">
                            <option value="activo">Activo</option>
                            <option value="baja">Inactivo</option>
                          </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-8">
                          <label for="formFile" class="form-label">Cargar foto de perfil</label>
                          <input class="form-control" @change="onFileSelected" type="file"  id="foto" accept=".jpg, .png">
                        </div>
                        <div class="col-12 col-md-4" v-if="imagePersona">
                            <label for="">Vista Previa</label>
                            <img :src="imagePersona" alt="" width="300" height="150">
                        </div>
                        <div class="text-center"><br>
                        <soft-button
                        color="dark"
                        full-width
                        variant="gradient"
                        class="my-2 mb-2"
                        >GUARDAR DATOS</soft-button
                        >
                        </div>
                    </div>                    
                </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
import VueSelect from 'vue-select'
import 'vue-select/dist/vue-select.css'; // Importa los estilos de vue-select
import $ from 'jquery';
import 'bootstrap/js/dist/modal';
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
window.jQuery = $;
window.$ = $;

export default{
  name: "ModalAddPersona",
  components: {
    SoftInput,
    SoftButton,
    VueSelect,
  },
  props:{
    listaPaises:Array
  },
  data(){
    return{
      dep:[],
      nacionalidad: null,
      ci_dni: null,
      pasaporte: null,
      extension: null,
      nombres: null,
      apellidoP: null,
      apellidoM: null,
      genero: null,
      zona: null,
      direccion: null,
      profesion: null,
      contacto: null,
      fecha_nacimiento: null,
      estado_civil: null,
      estado: "baja",
      foto: null,
      paisId: null,
      imagePersona: null,
      nacionalidades: [
            {
                "id" : 144,
                "label" : "Afganistán",
                "value" : "afgano/na"
            },
            {
                "id" : 114,
                "label" : "Albania",
                "value" : "albanés/sa"
            },
            {
                "id" : 18,
                "label" : "Alemania",
                "value" : "alemán/na"
            },
            {
                "id" : 98,
                "label" : "Algeria",
                "value" : "argelino/na"
            },
            {
                "id" : 145,
                "label" : "Andorra",
                "value" : "andorrano/na"
            },
            {
                "id" : 119,
                "label" : "Angola",
                "value" : "angoleño/ña"
            },
            {
                "id" : 91,
                "label" : "Arabia Saudita",
                "value" : "saudí o saudita"
            },
            {
                "id" : 5,
                "label" : "Argentina",
                "value" : "argentino/na"
            },
            {
                "id" : 6,
                "label" : "Armenia",
                "value" : "armenio/nia"
            },
            {
                "id" : 1,
                "label" : "Australia",
                "value" : "australiano/na"
            },
            {
                "id" : 2,
                "label" : "Austria",
                "value" : "austriaco/ca"
            },
            {
                "id" : 80,
                "label" : "Bahamas",
                "value" : "bahameño/ña"
            },
            {
                "id" : 128,
                "label" : "Barbados",
                "value" : "barbadense"
            },
            {
                "id" : 9,
                "label" : "Bélgica",
                "value" : "belga"
            },
            {
                "id" : 8,
                "label" : "Belice",
                "value" : "beliceño/ña"
            },
            {
                "id" : 7,
                "label" : "Bielorrusia",
                "value" : "bielorruso/sa"
            },
            {
                "id" : 123,
                "label" : "Bolivia",
                "value" : "boliviano/na"
            },
            {
                "id" : 100,
                "label" : "Botsuana",
                "value" : "botsuano/na"
            },
            {
                "id" : 12,
                "label" : "Brasil",
                "value" : "brasilero/ra"
            },
            {
                "id" : 11,
                "label" : "Bulgaria",
                "value" : "búlgaro/ra"
            },
            {
                "id" : 152,
                "label" : "Bután",
                "value" : "butanés/sa"
            },
            {
                "id" : 159,
                "label" : "Cabo Verde",
                "value" : "caboverdiano/na"
            },
            {
                "id" : 158,
                "label" : "Camboya",
                "value" : "camboyano/na"
            },
            {
                "id" : 31,
                "label" : "Camerún",
                "value" : "camerunés/sa"
            },
            {
                "id" : 32,
                "label" : "Canadá",
                "value" : "canadiense"
            },
            {
                "id" : 81,
                "label" : "Chile",
                "value" : "chileno/na"
            },
            {
                "id" : 35,
                "label" : "China",
                "value" : "chino/na"
            },
            {
                "id" : 33,
                "label" : "Chipre",
                "value" : "chipriota"
            },
            {
                "id" : 82,
                "label" : "Colombia",
                "value" : "colombiano/na"
            },
            {
                "id" : 165,
                "label" : "Congo",
                "value" : "congoleño/ña"
            },
            {
                "id" : 84,
                "label" : "Corea del Norte",
                "value" : "norcoreano/na"
            },
            {
                "id" : 69,
                "label" : "Corea del Sur",
                "value" : "surcoreano/na"
            },
            {
                "id" : 168,
                "label" : "Costa de Marfil",
                "value" : "marfileño/ña"
            },
            {
                "id" : 36,
                "label" : "Costa Rica",
                "value" : "costarricense"
            },
            {
                "id" : 71,
                "label" : "Croacia",
                "value" : "croata"
            },
            {
                "id" : 113,
                "label" : "Cuba",
                "value" : "cubano/na"
            },
            {
                "id" : 22,
                "label" : "Dinamarca",
                "value" : "danés/sa"
            },
            {
                "id" : 103,
                "label" : "Ecuador",
                "value" : "ecuatoriano/na"
            },
            {
                "id" : 23,
                "label" : "Egipto",
                "value" : "egipcio/cia"
            },
            {
                "id" : 51,
                "label" : "El Salvador",
                "value" : "salvadoreño/ña"
            },
            {
                "id" : 52,
                "label" : "Eslovaquia",
                "value" : "eslovaco/ca"
            },
            {
                "id" : 53,
                "label" : "Eslovenia",
                "value" : "esloveno/na"
            },
            {
                "id" : 28,
                "label" : "España",
                "value" : "español/la"
            },
            {
                "id" : 55,
                "label" : "Estados Unidos",
                "value" : "estadounidense"
            },
            {
                "id" : 68,
                "label" : "Estonia",
                "value" : "estonio/nia"
            },
            {
                "id" : 90,
                "label" : "Filipinas",
                "value" : "filipino/na"
            },
            {
                "id" : 63,
                "label" : "Finlandia",
                "value" : "finlandés/sa"
            },
            {
                "id" : 176,
                "label" : "Fiyi",
                "value" : "fiyiano/na"
            },
            {
                "id" : 64,
                "label" : "Francia",
                "value" : "francés/sa"
            },
            {
                "id" : 180,
                "label" : "Gabón",
                "value" : "gabonés/sa"
            },
            {
                "id" : 181,
                "label" : "Gambia",
                "value" : "gambiano/na"
            },
            {
                "id" : 21,
                "label" : "Georgia",
                "value" : "georgiano/na"
            },
            {
                "id" : 105,
                "label" : "Ghana",
                "value" : "ghanés/sa"
            },
            {
                "id" : 184,
                "label" : "Granada",
                "value" : "granadino/na"
            },
            {
                "id" : 20,
                "label" : "Grecia",
                "value" : "griego/ga"
            },
            {
                "id" : 185,
                "label" : "Guatemala",
                "value" : "guatemalteco/ca"
            },
            {
                "id" : 189,
                "label" : "Guyana",
                "value" : "guyanés/sa"
            },
            {
                "id" : 16,
                "label" : "Haiti",
                "value" : "haitiano/na"
            },
            {
                "id" : 137,
                "label" : "Honduras",
                "value" : "hondureño/ña"
            },
            {
                "id" : 14,
                "label" : "Hungría",
                "value" : "húngaro/ra"
            },
            {
                "id" : 25,
                "label" : "India",
                "value" : "indio/dia"
            },
            {
                "id" : 74,
                "label" : "Indonesia",
                "value" : "indonesio/sia"
            },
            {
                "id" : 140,
                "label" : "Irak",
                "value" : "iraquí"
            },
            {
                "id" : 26,
                "label" : "Irán",
                "value" : "iraní"
            },
            {
                "id" : 27,
                "label" : "Irlanda",
                "value" : "irlandés/sa"
            },
            {
                "id" : 83,
                "label" : "Islandia",
                "value" : "islandés/sa"
            },
            {
                "id" : 24,
                "label" : "Israel",
                "value" : "israelí"
            },
            {
                "id" : 29,
                "label" : "Italia",
                "value" : "italiano/na"
            },
            {
                "id" : 132,
                "label" : "Jamaica",
                "value" : "jamaicano/na"
            },
            {
                "id" : 70,
                "label" : "Japón",
                "value" : "japonés/sa"
            },
            {
                "id" : 75,
                "label" : "Jordania",
                "value" : "jordano/na"
            },
            {
                "id" : 97,
                "label" : "Kenia",
                "value" : "keniano/na"
            },
            {
                "id" : 38,
                "label" : "Letonia",
                "value" : "letón/na"
            },
            {
                "id" : 99,
                "label" : "Líbano",
                "value" : "libanés/sa"
            },
            {
                "id" : 39,
                "label" : "Libia",
                "value" : "libio/bia"
            },
            {
                "id" : 40,
                "label" : "Lituania",
                "value" : "lituano/na"
            },
            {
                "id" : 41,
                "label" : "Luxemburgo",
                "value" : "luxemburgués/sa"
            },
            {
                "id" : 134,
                "label" : "Madagascar",
                "value" : "malgache"
            },
            {
                "id" : 76,
                "label" : "Malasia",
                "value" : "malasio/sia"
            },
            {
                "id" : 200,
                "label" : "Maldivas",
                "value" : "maldivo/va"
            },
            {
                "id" : 133,
                "label" : "Malí",
                "value" : "maliense"
            },
            {
                "id" : 86,
                "label" : "Malta",
                "value" : "maltés/sa"
            },
            {
                "id" : 104,
                "label" : "Marruecos",
                "value" : "marroquí"
            },
            {
                "id" : 42,
                "label" : "México",
                "value" : "mexicano/na"
            },
            {
                "id" : 43,
                "label" : "Moldavia",
                "value" : "moldavo/va"
            },
            {
                "id" : 44,
                "label" : "Mónaco",
                "value" : "monegasco/ca"
            },
            {
                "id" : 139,
                "label" : "Mongolia",
                "value" : "mongol/la"
            },
            {
                "id" : 117,
                "label" : "Mozambique",
                "value" : "mozambiqueño/ña"
            },
            {
                "id" : 102,
                "label" : "Namibia",
                "value" : "namibio/bia"
            },
            {
                "id" : 107,
                "label" : "Nepal",
                "value" : "nepalés/sa"
            },
            {
                "id" : 209,
                "label" : "Nicaragua",
                "value" : "nicaragüense"
            },
            {
                "id" : 210,
                "label" : "Níger",
                "value" : "nigerino/na"
            },
            {
                "id" : 115,
                "label" : "Nigeria",
                "value" : "nigeriano/na"
            },
            {
                "id" : 46,
                "label" : "Noruega",
                "value" : "noruego/ga"
            },
            {
                "id" : 45,
                "label" : "Nueva Zelanda",
                "value" : "neozelandés/sa"
            },
            {
                "id" : 19,
                "label" : "Países Bajos, Holanda",
                "value" : "neerlandés/sa"
            },
            {
                "id" : 87,
                "label" : "Pakistán",
                "value" : "pakistaní"
            },
            {
                "id" : 124,
                "label" : "Panamá",
                "value" : "palabelño/ña"
            },
            {
                "id" : 110,
                "label" : "Paraguay",
                "value" : "paraguayo/ya"
            },
            {
                "id" : 89,
                "label" : "Perú",
                "value" : "peruano/na"
            },
            {
                "id" : 47,
                "label" : "Polonia",
                "value" : "polaco/ca"
            },
            {
                "id" : 48,
                "label" : "Portugal",
                "value" : "portugués/sa"
            },
            {
                "id" : 246,
                "label" : "Puerto Rico",
                "value" : "puertorriqueño/ña"
            },
            {
                "id" : 216,
                "label" : "Qatar",
                "value" : "qatarí"
            },
            {
                "id" : 13,
                "label" : "Reino Unido",
                "value" : "británico"
            },
            {
                "id" : 65,
                "label" : "República Checa",
                "value" : "checo/ca"
            },
            {
                "id" : 138,
                "label" : "República Dominicana",
                "value" : "dominicano/na"
            },
            {
                "id" : 72,
                "label" : "Rumanía",
                "value" : "rumano/na"
            },
            {
                "id" : 50,
                "label" : "Rusia",
                "value" : "ruso/sa"
            },
            {
                "id" : 135,
                "label" : "Senegal",
                "value" : "senegalés/sa"
            },
            {
                "id" : 226,
                "label" : "Serbia y Montenegro",
                "value" : "serbio/a"
            },
            {
                "id" : 109,
                "label" : "Seychelles",
                "value" : "seychellense"
            },
            {
                "id" : 77,
                "label" : "Singapur",
                "value" : "singapurense"
            },
            {
                "id" : 106,
                "label" : "Siria",
                "value" : "sirio/ria"
            },
            {
                "id" : 229,
                "label" : "Somalia",
                "value" : "somalí"
            },
            {
                "id" : 141,
                "label" : "Sudáfrica",
                "value" : "sudafricano/na"
            },
            {
                "id" : 232,
                "label" : "Sudán",
                "value" : "sudanés/sa"
            },
            {
                "id" : 67,
                "label" : "Suecia",
                "value" : "sueco/ca"
            },
            {
                "id" : 66,
                "label" : "Suiza",
                "value" : "suizo/za"
            },
            {
                "id" : 92,
                "label" : "Tailandia",
                "value" : "tailandés/sa"
            },
            {
                "id" : 59,
                "label" : "Turquía",
                "value" : "turco/ca"
            },
            {
                "id" : 62,
                "label" : "Ucrania",
                "value" : "ucraniano/na"
            },
            {
                "id" : 111,
                "label" : "Uruguay",
                "value" : "uruguayo/ya"
            },
            {
                "id" : 95,
                "label" : "Venezuela",
                "value" : "venezolano/na"
            },
            {
                "id" : 15,
                "label" : "Vietnam",
                "value" : "vietnamita"
            },
            {
                "id" : 243,
                "label" : "Yemen",
                "value" : "yemení"
            },
            {
                "id" : 116,
                "label" : "Zambia",
                "value" : "zambiano/na"
            },
            {
                "id" : 96,
                "label" : "Zimbabwe",
                "value" : "zimbabuense"
            }
        ],
    }
  },
  methods:{
    onFileSelected(event){
      this.imagePersona = null
      var input = event.target;
      this.image = event.target.files[0]
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imagePersona = e.target.result
        }
        reader.readAsDataURL(input.files[0]);
      }
    },
    async registrarPersona(){
        this.ci_dni = document.getElementById("ci_dni").value
        this.nombres = document.getElementById("nombres").value
        this.apellidoP = document.getElementById("apellidoP").value
        this.apellidoM = document.getElementById("apellidoM").value
        this.genero = document.getElementById("genero").value
        this.profesion = document.getElementById("profesion").value
        this.fecha_nacimiento = document.getElementById("fecha_nacimiento").value
        this.estado_civil = document.getElementById("estado_civil").value
        this.estado = document.getElementById("estado").value
        const persona = {
            nacionalidad: this.nacionalidad.value,
            ci_dni: this.ci_dni,
            nombres: this.nombres,
            apellidoP: this.apellidoP,
            apellidoM: this.apellidoM,
            genero: this.genero,
            profesion: this.profesion,
            contacto: this.contacto,
            fecha_nacimiento: this.fecha_nacimiento,
            estado_civil: this.estado_civil,
            estado: this.estado,
            foto: this.imagePersona,
        }
        try {
            const {data} = await this.$api.post("persona",persona)
            this.$emit("response",true)
            this.limpiar()
            const toast = useToast();
            toast.success(data.msg);
            $('#staticBackdropPerson').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').removeClass('show');
        } catch (error) {
            const toast = useToast();
            toast.error(error.message);
        }
    },
    limpiar(){
        let form = document.getElementById("formPersona")
        form.reset()
        this.imagePersona= null
        this.nacionalidad = null // o establecerla en la opción por defecto
    }
  }
}
</script>
