<template>
    <div>
      <soft-button color="dark" variant="gradient" data-bs-toggle="modal" data-bs-target="#staticBackdropProd">
        <i class="fas fa-plus me-2"></i>
          Agregar Producto
      </soft-button>

      <div class="modal fade" id="staticBackdropProd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Registro de productos
              </h5>
              <button @click="limpiar()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form id="formProducto" role="form" @submit.prevent="registrarProducto()">
                <div class="mb-3">
                  <soft-input
                    id="nombre_producto"
                    type="text"
                    placeholder="Nombre de producto"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="descripcion_producto"
                    type="text"
                    placeholder="Descripcion del producto"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="cantidad_producto"
                    type="number"
                    placeholder="cantidad del producto"
                    aria-label="Name"
                    d
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="precio_producto"
                    type="number"
                    placeholder="Precio c/u"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="precio_descuento"
                    type="number"
                    placeholder="Descuento"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Cargar Imagen de Producto</label>
                    <input class="form-control" @change="onChange" type="file" id="imagen_producto"  accept="image/*">
                </div>
                <div class="mb-3" v-if="imagen">
                    <img :src="imagen" alt="" width="100" height="100">
                </div>
                <div class="text-center">
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    >GUARDAR DATOS</soft-button
                  >
                </div>
              </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
export default{
  name: "ModalAddProducto",
  components: {
    SoftInput,
    SoftButton,
  },
  data(){
    return{
      nombre: "",
      descripcion: "",
      cantidad: "",
      precio:"",
      precio_descuento:"",
      imagen: null,
    }
  },
  methods:{
    onChange(event) {
      this.imagen = null
      var input = event.target;
      this.imagen = event.target.files[0]
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imagen = e.target.result
        }
        reader.readAsDataURL(input.files[0]);
      }
    },
    async registrarProducto(){
      this.nombre = document.getElementById("nombre_producto").value 
      this.descripcion = document.getElementById("descripcion_producto").value 
      this.cantidad = document.getElementById("cantidad_producto").value 
      this.precio = document.getElementById("precio_producto").value 
      this.precio_descuento = document.getElementById("precio_descuento").value

          const producto  = {
            nombre: this.nombre,
            descripcion: this.descripcion,
            cantidad: this.cantidad,
            precio: this.precio,
            precio_descuento: this.precio_descuento,
            imagen: this.imagen
          }
          try {
            const {data} = await this.$api.post("producto",producto)
            this.$emit("producto",data.producto)
            this.limpiar()
            const toast = useToast();
            toast.success(data.msg);
          } catch (error) {
            const toast = useToast();
            toast.error(error.message);
          }
    },
    limpiar(){
      let form = document.getElementById("formProducto")
      form.reset()
      this.imagen= null
    }
  }
}
</script>
