<template>
    <div>
      <button type="button" class="btn " aria-expanded="false" data-bs-toggle="modal" data-bs-target="#staticBackdropMenu">
        Booking
      </button>

      <div class="modal fade" id="staticBackdropMenu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content" style="width: 100% !important">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Booking
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid " style="height: 100% !important">
                <iframe src="https://www.booking.com/hotel/bo/hostal-tukos-la-casa-real.es.html" frameborder="none" width="100%" height="100%"></iframe>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
export default{
  name: "ModalFrame",
  components: {
  },
  data(){
    return{
      producto: "",
      descripcion: "",
      precio_cu:"",
      precio_descuento:"",
      estado: "",
      imagen: null,
    }
  },
  methods:{
    onChange(event) {
      this.imagen = null
      var input = event.target;
      this.imagen = event.target.files[0]
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imagen = e.target.result
        }
        reader.readAsDataURL(input.files[0]);
      }
    },
    async registrarProducto(){
      this.producto = document.getElementById("nombre_producto").value 
      this.descripcion = document.getElementById("descripcion_producto").value 
      this.precio_cu = document.getElementById("precio_producto").value 
      this.precio_descuento = document.getElementById("precio_descuento").value
      this.estado = document.getElementById("estado_menu").value

          const menu  = {
            producto: this.producto,
            descripcion: this.descripcion,
            precio_cu: this.precio_cu,
            precio_descuento:this.precio_descuento,
            estado: this.estado,
            imagen: this.imagen
          }
          try {
            const {data} = await this.$api.post("menu",menu)
            this.$emit("menu",data.menu)
            this.limpiar()
            const toast = useToast();
            toast.success(data.msg);            
          } catch (error) {
            const toast = useToast();
            toast.error(error.message);
          }
    },
    limpiar(){
      let form = document.getElementById("formMenu")
      form.reset()
      this.imagen= null
    }
  }
}
</script>
