<template>
    <div>
      <soft-button color="dark" variant="gradient" data-bs-toggle="modal" data-bs-target="#staticBackdropPais">
        <i class="fas fa-plus me-2"></i>
          Agregar pais
      </soft-button>

      <div class="modal fade" id="staticBackdropPais" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Registro de pais
              </h5>
              <button @click="limpiar()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form id="formPais" role="form"  @submit.prevent="registrarPais()">
                  <div class="mb-3">
                    <soft-input
                      id="namePais"
                      type="text"
                      placeholder="Nombre pais"
                      aria-label="Name"
                    />
                  </div>
                  <div class="mb-3">
                    <soft-input
                      id="abreviado"
                      type="text"
                      placeholder="Abreviado"
                      aria-label="Name"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="formFile" class="form-label">Seleccione imagen</label>
                    <input class="form-control" @change="onFileSelected" type="file"  id="formFile" accept="image/*">
                  </div>
                  <div class="mb-3" v-if="imagePais">
                    <img :src="imagePais" alt="" width="150" height="100">
                  </div>
                  <div class="text-center">
                    <soft-button
                      color="dark"
                      full-width
                      variant="gradient"
                      class="my-2 mb-2"
                      >GUARDAR DATOS</soft-button
                    >
                  </div>
                </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
export default{
  name: "ModalAñadirPais",
  data() {
    return {
        pais: "",
        abreviado:"",
        img: null,
        imagen: null,
        mensaje: null,
        imagePais: null
    };
  },
  components: {
    SoftInput,
    SoftButton,
  },
  methods:{
    onFileSelected(event){
      this.imagePais = null
      var input = event.target;
      this.imagen = event.target.files[0]
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imagePais = e.target.result
        }
        reader.readAsDataURL(input.files[0]);
      }
    },
    async registrarPais(){
      this.pais = document.getElementById("namePais").value
      this.abreviado = document.getElementById("abreviado").value
      
      const pais = {
        pais: this.pais,
        abreviado: this.abreviado,
        img: this.imagePais
      }

      try {
        const {data} = await this.$api.post("pais",pais)
        this.$emit("response",true)
        const toast = useToast();
        toast.success(data.msg);
        this.limpiar()
      } catch (error) {
        const toast = useToast();
        toast.error(error.message);      
      }
    },
    limpiar(){
          let form = document.getElementById("formPais")
          form.reset()
          this.imagePais= null
    }
  }
}
</script>