<template>
  <div>
    <soft-button color="dark" variant="gradient" data-bs-toggle="modal" data-bs-target="#staticBackdropHab" style="height: 250px;">
      <i class="fas fa-plus me-2" style="font-size: 200px;"></i><br>
        Agregar habitacion 
    </soft-button>

    <div class="modal fade" id="staticBackdropHab" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header text-center " color="dark" variant="gradient">
            <h5 class="modal-title text-white">
              Registro de habitacion
            </h5>
            <button @click="limpiar()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form id="formHab" role="form" @submit.prevent="registrarHab()">
                <div class="mb-3">
                  <select id="nombreTP" class="form-select" aria-label="Seleccionar tp" v-model="nombreTP" @change="generarCodigoHabitacion">
                    <option selected>Tipo de habitacion</option>
                    <option v-for="item in tipo_hab" :key="item.id" :value="item.id">{{item.nombre}}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <select id="piso" class="form-select" aria-label="Seleccionar tp" v-model="piso" @change="generarCodigoHabitacion">
                    <option selected disabled>Seleccione Piso.</option>
                    <option value="PB">Planta Baja</option>
                    <option value="1">Piso #1</option>
                    <option value="2">Piso #2</option>
                    <option value="3">Piso #3</option>
                  </select>
                </div>
                <div class="mb-3">
                  <input 
                    id="N_hab" 
                    type="text" 
                    placeholder="Numero Habitacion" 
                    aria-label="Name" 
                    v-model="N_hab" 
                    @input="generarCodigoHabitacion" />
                </div>
                <div class="mb-3">
                  <soft-input
                    id="codigo_habitacion"
                    type="text"
                    placeholder="Codigo de Habitacion"
                    aria-label="Name"
                    v-model="codigo_habitacion"
                  />
                </div>
                <div class="mb-3" hidden>
                  <input 
                    id="user_id" 
                    type="text" 
                    placeholder="User Id" 
                    aria-label="Name" 
                    v-model="id_usuario" 
                  >
                </div>
                <div class="mb-3">
                  <soft-input
                    id="descripcion"
                    type="text"
                    placeholder="Descripcion"
                    aria-label="Name"
                  />
                </div>
                 <div class="mb-3">
                  <soft-input
                    id="precio_noche"
                    type="number"
                    placeholder="Precio por noche"
                    aria-label="Name"
                  />
                </div>
                <div class="mb-3" hidden>
                  <select id="estado" class="form-select" aria-label="Seleccionar tp">
                    <option  value="disponible" selected>Disponible</option>
                    <option  value="limpieza">En limpieza</option>
                    <option  value="mantenimiento">En mantenimiento</option>
                    <option  value="ocupado">Ocupado</option>
                  </select>
                </div>
                <div class="mb-3" v-if="listCarac.length>0">
                  <label for="">Caracteristicas</label>
                  <select @change="obtenerCaract()" id="caract" class="form-select" aria-label="Seleccionar tp" multiple>
                    <option selected disabled>Seleccione varios Ctrl+click</option>
                    <option  v-for="item in listCarac" :key="item.id" :value="item.caracteristica">{{item.caracteristica}}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="formFileMultiple" class="form-label">Imagenes de la habitacion</label>
                  <input class="form-control" @change="onChange" type="file" id="formFileMultiple" multiple accept="image/*">
                </div>
                <div class="mb-3" v-if="imageData">
                  <img class="pad-left" :src="item" alt="" width="100" height="100" v-for="item in listImg" :key="item.id">
                </div>
                <div class="text-center">
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    >GUARDAR DATOS</soft-button>
                </div>
              </form>
            </div>
          </div>            
        </div>
      </div>
    </div>
  </div>
</template>
<style>
  /* Estilo para el input */
  input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  /* Estilo para el input cuando está enfocado */
  input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }

  /* Estilo para el input cuando está deshabilitado */
  input:disabled {
    background-color: #e9ecef;
    opacity: 1;
  }
</style>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
import { mapState } from "vuex";

export default{
name: "ModalAddHabitacion",
components: {
  SoftInput,
  SoftButton,
},
props:{
  tipo_hab: Array
},
created(){
  this.ListarCarac()
},
data(){
  return{
    img: false,
    listImg:[],
    codigo: "",
    codigo_habitacion: null,
    descripcion:"",
    precio_noche:null,
    tipoId:"",
    texto: false,
    imageData:true,
    estado:null,
    listCarac: [],
    listSelect:[],
    nombreTP: null,
    piso: null,
    N_hab: null,
  }
},
computed: {
  ...mapState({
    token: state => state.token,
    id_usuario: state => state.id_usuario,
    rol: state => state.rol,
  })  
},
methods:{
  onChange(event) {
          this.imageData = true
          var input = event.target;
          var i = 0
          while(input.files[i]){
            if (input.files && input.files[i]) {
              var reader = new FileReader();
              reader.onload = (e) => {
                this.listImg.push(e.target.result)
              }
              reader.readAsDataURL(input.files[i]);
            }
            i++
          }
  },
  generarCodigoHabitacion() {    
    if (this.nombreTP && this.piso && this.N_hab) {
      console.log(this.nombreTP)
      if(this.nombreTP == 1){
        this.codigo_habitacion = "SAL" + "-" + this.piso + this.N_hab.toString().padStart(2, "0");
      }else{
        this.codigo_habitacion = "HAB" + "-" + this.piso + this.N_hab.toString().padStart(2, "0");
      }
    }
  },
  obtenerCaract(){
    this.listSelect = []
    const car = document.getElementById("caract")
    var options = car && car.options;
    var opt;

    for (var i=0, iLen=options.length; i<iLen; i++) {
      opt = options[i];

    if (opt.selected) {
      this.listSelect.push(opt.value || opt.text);
    }
    }
  },
  async registrarHab(){
    this.codigo_habitacion = document.getElementById("codigo_habitacion").value 
    this.descripcion = document.getElementById("descripcion").value 
    this.precio_noche = document.getElementById("precio_noche").value
    this.estado = document.getElementById("estado").value
    this.tipoId = document.getElementById("nombreTP").value
    this.piso = document.getElementById("piso").value
    this.user_id = document.getElementById("user_id").value
    
    const hab ={
      codigo_habitacion: this.codigo_habitacion,
      descripcion : this.descripcion,
      caracteristicas: this.listSelect,
      imagenes: this.listImg,
      precio_noche: this.precio_noche,
      estado: this.estado,
      tipoId: this.tipoId,
      piso: this.piso,
      user_id: this.user_id,
    }
    console.log(hab)
    try {
      const {data} = await this.$api.post("habitacion",hab)
      this.$emit("response", true)
      const toast = useToast();
      toast.success(data.msg);
      this.limpiar()
    } catch (error) {
      const toast = useToast();
      toast.success(error.message);
    }
  }, 
  async ListarCarac(){
    this.listCarac = []
    const {data} = await this.$api.get("caracteristica")
    this.listCarac = data
  },
  limpiar(){
        let form = document.getElementById("formHab")
        form.reset()
        this.listImg = []
        this.imageData = null
  },
},
watch: {
  codigo_habitacion: function(newValue) {
    this.$nextTick(function() {
      document.getElementById('codigo_habitacion').value = newValue;
    });
  }
},
}
</script>
<style>
.pad-left{
padding: 5px;
}
</style>
