<template>
  <div>
    <div class="container text-center ">
      <span v-if="tipo">HABITACION {{tipo.nombre.toUpperCase()}}</span>
      <h5 >{{habitacion.codigo_habitacion}}</h5>
    </div>
    <div :id="'carouselExampleFade'+id" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img :src="habitacion.imagenes[0]" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item " v-for="item in imagenes" :key="item.id">
          <img :src="item" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" :data-bs-target="'#carouselExampleFade'+id" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" :data-bs-target="'#carouselExampleFade'+id" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="container text-center">
      <span>{{habitacion.descripcion.toUpperCase()}}</span><br>
      <span>PRECIO POR NOCHE: {{habitacion.precio_noche}}</span><br>
      <span>ESTADO : {{habitacion.estado.toUpperCase()}}</span>
      <div class="row">
        <div class="col" v-if="caracteristicas.length>0">
          <ul class="list-group">
            <li class="list-group-item">Caracteristicas</li>
            <li class="list-group-item" v-for="item in caracteristicas" :key="item.id">{{item}}</li>
          </ul>
        </div>
        <div class="col" v-if="activos.length>0">
          <ul class="list-group">
            <li class="list-group-item">Activos</li>
            <li class="list-group-item" v-for="item in activos" :key="item.id">
              <span>{{item.nombre}} {{item.marca}}</span><br>
              <span>{{item.descripcion}}</span>
            </li>
          </ul>
        </div>
      </div>
      <span>FECHA DE REGISTRO : {{habitacion.fecha_registro.toUpperCase()}}</span>
    </div>
  </div>
</template>
<script>
export default {
  name: "InfoHabitacion",
  props:{
    habitacion: Object,
    habitacionActivos:Array
  },
  data(){
    return{
      imagenes: [],
      caracteristicas: this.habitacion.caracteristicas,
      activos:this.habitacionActivos,
      id: this.habitacion.id,
      tipo:null
    }
  },
  created(){
    this.listImagenes()
    this.buscarTipo()
  },
  setup() {
    
  },
  methods:{
    listImagenes(){
      this.habitacion.imagenes.forEach((e,i) => {
          if(i!=0){
            this.imagenes.push(e)
          }
      });
    },
    async buscarTipo(){
      const {data} = await this.$api.get("tipo_habitacionId/"+this.habitacion.tipoId)
      this.tipo = data
    }
  }
}
</script>