<template>
    <div class="row">
        <div class="d-flex justify-content-center">
            <form class="d-flex" @submit.prevent="">
                <div class=" mb-3 dropdown">
                    <input v-model="item" type="text" class="form-control dropdown-toggle" placeholder="Activo"
                     aria-label="Recipient's username" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li v-if="item"><a class="dropdown-item" href="#" 
                        v-for="activ in ListaActivos" :key="activ.id"  @click="agregar(activ)" >
                        {{activ.nombre}} <br>{{activ.descripcion}}</a></li>
                        <li v-else><a href="#" class="dropdown-item">Sin Resultados</a></li>
                    </ul>
                </div>
            </form>
        </div>
        <h5 class="card-title">LISTA DE ACTIVOS</h5>
        <div class="d-flex justify-content-center">
            <ul class="list-group" v-if="activosHab.length==0">
                <li class="list-group-item"  >No existen actividades registradas</li>
            </ul>
            <ul class="list-group" v-else>
                <li class="list-group-item align-items-center d-flex justify-content-between" 
                v-for="item in activosHab" :key="item.id"> 
                    <span class="text">{{item.codigo_activo}} / {{item.nombre}} {{item.marca}} <br>{{item.descripcion}}</span>
                    <span class="btn" >
                    <i class='fa fa-trash-o' @click="remove(item)"></i></span>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
export default {
    name: "ManageHab",
    components:{
    },
    props:{
        habitacion: Object,
        activo:Array,
        habitacionActivos:Array
    },
    data(){
        return{
            activos: this.activo,
            item:null,
            activosHab:this.habitacionActivos
        }
    },
    computed:{
        ListaActivos(){
            var newActivos  = []
            if(this.item!=null){
               const  Activos  = this.activos.filter(item => !item.nombre.toUpperCase().indexOf(this.item.toUpperCase()))

                newActivos = Activos.filter(item => item.estado.toUpperCase() === "DISPONIBLE")
            }   
            return newActivos
        }
    },
    methods:{
        codigo(){
            this.codigo_habitacion = document.getElementById('cod'+this.habitacion.id).value
        },
        precio(){
            this.precio_noche_ = document.getElementById('precio_'+this.habitacion.id).value
        },
        descripcionHab(){
            this.descripcion_ = document.getElementById('descripcion_hab'+this.habitacion.id).value
        },
        async agregar(data){
            this.activosHab.push(data)
            const hab_act ={
                estado: "activo",
                activoId: data.id,
                habitacionId:this.habitacion.id
            }

            data.estado = "ocupado"
            try {
                await this.$api.post("habitacion_activo",hab_act)
                await this.$api.put("activo/"+data.id, data)
            } catch (error) {
                alert(error.message)
            }
        },
        async remove(item){
            this.activosHab = this.activosHab.filter(t => t.id !== item.id)
            try {
                await this.$api.delete("habitacion_activo/"+item.id)
                const activo = {
                    nombre: item.nombre,
                    descripcion: item.descripcion,
                    marca: item.marca,
                    estado: "disponible",
                    imagen: item.imagen
                }
                await this.$api.put("activo/"+item.id, activo)

            } catch (error) {
                return
            }
            this.$emit("response",this.activosHab)
        }
    }
}
</script>