<template>
    <div class="row">
        <div>
            <soft-input
            :id="'passU'+id"
            type="password"
            placeholder="Ingrese nueva contraseña"
            aria-label="password"
            @change="password"
            />
        </div>
        <div>
            <soft-input
            :id="'rpassU'+id"
            type="password"
            placeholder="Repita la nueva contraseña"
            aria-label="password"
            @change="rpassword"
            />
        </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
export default {
    name: "UpdateInfoCorreo",
    components:{
        SoftInput
    },
    props:{
        id: Number
    },
    methods:{
        password(){
            const password = document.getElementById('passU'+this.id).value 
            this.$emit("password",password)
        },
        rpassword(){
            const rpassword = document.getElementById('rpassU'+this.id).value 
            this.$emit("rpassword", rpassword)
        },
    },
}
</script>