<template>
    <div>
      <a
        href=""
        class="text-secondary font-weight-bold text-xs"
        type="button"
        data-bs-toggle="modal"
        data-original-title="Edit user"
        :data-bs-target="'#staticBackdropPerson'+persona.id"
        >Editar</a>
      <div class="modal fade" :id="'staticBackdropPerson'+persona.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Registro de nueva persona
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form id="formPersona" role="form" @submit.prevent="updatePersona()">
                    <div class="row">
                        <div class="col">
                        <div class="mb-3">
                            <soft-input
                            :id="'nombres'+persona.id"
                            type="text"
                            placeholder="Nombre Completo"
                            aria-label="Name"
                            :value="persona.nombres"
                            />
                        </div>
                        <div class="mb-3">
                            <soft-input
                            :id="'apellidoP'+persona.id"
                            type="text"
                            placeholder="Apellido Paterno"
                            aria-label="Name"
                            :value="persona.apellidoP"
                            />
                        </div>
                        <div class="mb-3">
                            <soft-input
                            :id="'apellidoM'+persona.id"
                            type="text"
                            placeholder="Apellido Materno"
                            aria-label="Name"
                            :value="persona.apellidoM"
                            />
                        </div>
                        <div class="mb-3">
                          <select :value="persona.genero" :id="'genero'+persona.id" class="form-select" aria-label="Seleccionar genero">
                            <option selected disabled>Genero</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Masculino">Masculino</option>
                          </select>
                        </div>
                        <div class="mb-3">
                            <soft-input
                            :id="'zona'+persona.id"
                            type="text"
                            placeholder="Zona"
                            aria-label="Name"
                            :value="persona.zona"
                            />
                        </div>
                        <div class="mb-3">
                            <soft-input
                            :id="'direccion'+persona.id"
                            type="text"
                            placeholder="Direccion"
                            aria-label="Name"
                            :value="persona.direccion"
                            />
                        </div>
                        <div class="mb-3">
                            <soft-input
                            :id="'contacto'+persona.id"
                            type="text"
                            placeholder="Contacto"
                            aria-label="Name"
                            :value="persona.contacto"
                            />
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3 form-floating">
                          <select @change="buscarExt()" :id="'nacionalidad'+persona.id" class="form-select" aria-label="Seleccionar_nacionalidad">
                            <option selected disabled>Nacionalidad</option>
                            <option value="Extranjero">Extranjero</option>
                            <option value="Nacional">Nacional</option>
                          </select>
                    </div>
                    <div class="mb-3">
                        <soft-input
                        :id="'ci_dni'+persona.id"
                        type="text"
                        placeholder="CI o DNI"
                        aria-label="Name"
                        :value="persona.ci_dni"
                        />
                    </div>                    
                    <div class="mb-3">
                        <soft-input
                        :id="'profesion'+persona.id"
                        type="text"
                        placeholder="Profesion"
                        aria-label="Name"
                        :value="persona.profesion"
                        />
                    </div>
                    <div class="mb-3">
                        <soft-input
                        :id="'estado_civil'+persona.id"
                        type="text"
                        placeholder="Estado Civil"
                        aria-label="Name"
                        :value="persona.estado_civil"
                        />
                    </div>
                        <div class="mb-3 form-floating">
                            <soft-input
                            :id="'fecha_nacimiento'+persona.id"
                            type="text"
                            placeholder="Fecha de Nacimiento"
                            aria-label="fecha_nac"
                            :value="persona.fecha_nacimiento"
                            />
                        </div>
                        <div class="mb-3 form-floating">
                          <select :id="'estado'+persona.id" class="form-select" aria-label="Seleccionar estado">
                            <option selected>Estado del usuario</option>
                            <option value="activo">Activo</option>
                            <option value="baja">Inactivo</option>
                          </select>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                          <label for="formFile" class="form-label">Cargar foto de perfil</label>
                          <input class="form-control" @change="onFileSelected" type="file"  :id="'foto'+persona.id" accept=".jpg, .png">
                        </div>
                        <div class="mb-3" v-if="imagePersona">
                            <img :src="imagePersona" alt="" width="100" height="100">
                        </div>
                        <div class="text-center">
                        <soft-button
                        color="dark"
                        full-width
                        variant="gradient"
                        class="my-2 mb-2"
                        >GUARDAR DATOS</soft-button
                        >
                        </div>
                    </div>
                </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
export default{
  name: "UpdatePersona",
  components: {
    SoftInput,
    SoftButton,
  },
  props:{
    listaPaises:Array,
    persona: Object
  },
  data(){
    return{
      dep:[],
      nacionalidad: null,
      ci_dni: null,
      pasaporte: null,
      extension: null,
      nombres: null,
      apellidoP: null,
      apellidoM: null,
      genero: null,
      zona: null,
      direccion: null,
      profesion: null,
      contacto: null,
      fecha_nacimiento: null,
      estado_civil: null,
      estado: "baja",
      foto: null,
      paisId: null,
      imagePersona: this.persona.foto
    }
  },
  methods:{
    async buscarExt(){
      const a = document.getElementById("nacionalidad"+this.persona.id).value
      if(a === "Nacional"){
        this.dep = ["CH","CB","LP","OR","PD","SC","PT","BE","TJ",]
      }else{
        this.dep = []
        this.listaPaises.forEach(e => {
          this.dep.push(e.abreviado)
        });
      }
    },
    onFileSelected(event){
      this.imagePersona = null
      var input = event.target;
      this.image = event.target.files[0]
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imagePersona = e.target.result
        }
        reader.readAsDataURL(input.files[0]);
      }
    },
    async updatePersona(){

      this.nacionalidad = document.getElementById("nacionalidad"+this.persona.id).value
      this.ci_dni = document.getElementById("ci_dni"+this.persona.id).value
      this.nombres = document.getElementById("nombres"+this.persona.id).value
      this.apellidoP = document.getElementById("apellidoP"+this.persona.id).value
      this.apellidoM = document.getElementById("apellidoM"+this.persona.id).value
      this.genero = document.getElementById("genero"+this.persona.id).value
      this.zona = document.getElementById("zona"+this.persona.id).value
      this.direccion = document.getElementById("direccion"+this.persona.id).value
      this.profesion = document.getElementById("profesion"+this.persona.id).value
      this.contacto = document.getElementById("contacto"+this.persona.id).value
      this.fecha_nacimiento = document.getElementById("fecha_nacimiento"+this.persona.id).value
      this.estado_civil = document.getElementById("estado_civil"+this.persona.id).value
      this.estado = document.getElementById("estado"+this.persona.id).value
      const {data} = await this.$api.get("pais/"+this.extension)
        const persona = {
            nacionalidad: this.nacionalidad,
            ci_dni: this.ci_dni,
            pasaporte: this.pasaporte,
            extension: this.extension,
            nombres: this.nombres,
            apellidoP: this.apellidoP,
            apellidoM: this.apellidoM,
            genero: this.genero,
            zona: this.zona,
            direccion: this.direccion,
            profesion: this.profesion,
            contacto: this.contacto,
            fecha_nacimiento: this.fecha_nacimiento,
            estado_civil: this.estado_civil,
            estado: this.estado,
            foto: this.imagePersona,
            paisId: data.id
        }
        try {
          const {data} = await this.$api.put("persona/"+this.persona.id,persona)
          this.$emit("response",true)
          alert(data.msg)
        } catch (error) {
          alert(error.message)
        }
    },
  }
}
</script>
