<template>
    <div>
      <soft-button color="dark" variant="gradient" data-bs-toggle="modal" :data-bs-target="'#modalProductoEdit'+item.id">
        <i class="fas fa-edit me-2"></i>
          Editar
      </soft-button>

      <div class="modal fade" :id="'modalProductoEdit'+item.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Editar activo
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form :id="'formProductoU'+this.item.id" role="form" @submit.prevent="UpdateProducto()">
                <div class="mb-3">
                  <soft-input
                    :id="'nombre_producto'+item.id"
                    type="text"
                    placeholder="Nombre de producto"
                    aria-label="Name"
                    :value="nombre"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    :id="'descripcion_producto'+item.id"
                    type="text"
                    placeholder="Descripcion producto"
                    aria-label="Name"
                    :value="descripcion"
                  />
                </div>
                <div class="mb-3">
                    <label for="stock">Cantidad actual: {{cantidad}}</label>
                  <soft-input
                    :id="'aumentar_producto'+item.id"
                    type="number"
                    placeholder="Aumentar stock"
                    aria-label="stock"
                    :value="cantidad"
                  />
                </div>
                <div class="mb-3">
                  <label for="stock">Precio actual: {{precio}}</label>
                  <soft-input
                    :id="'Precio_producto'+item.id"
                    type="number"
                    placeholder="Precio"
                    aria-label="Name"
                    :value="precio"
                  />
                </div>
                <div class="mb-3">
                  <label for="stock">Descuento actual: {{precio_descuento}}</label>
                  <soft-input
                    :id="'Descuento'+item.id"
                    type="number"
                    placeholder="Descuento"
                    aria-label="Name"
                    :value="precio_descuento"
                  />
                </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Cargar Imagen de Activo</label>
                    <input class="form-control" @change="onChange" type="file" :id="'imagen_producto'+item.id"  accept="image/*">
                </div>
                <div class="mb-3" v-if="imagen">
                    <img :src="imagen" alt="" width="100" height="100">
                </div>
                <div class="text-center">
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    >GUARDAR DATOS</soft-button
                  >
                </div>
              </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
export default{
  name: "EditarProducto",
  components: {
    SoftInput,
    SoftButton,
  },
  props:{
    item: Object
  },
  data(){
    return{
      nombre: this.item.nombre,
      descripcion: this.item.descripcion,
      cantidad: this.item.cantidad.toString(),
      precio: this.item.precio.toString(),
      precio_descuento: this.item.precio_descuento.toString(),
      imagen: this.item.imagen,
    }
  },
  methods:{
    onChange(event) {
      var input = event.target;
      this.imagen = event.target.files[0]
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imagen = e.target.result
        }
        reader.readAsDataURL(input.files[0]);
      }
    },
    async UpdateProducto(){
      this.nombre = document.getElementById("nombre_producto"+this.item.id).value 
      this.descripcion = document.getElementById("descripcion_producto"+this.item.id).value 
      this.cantidad = document.getElementById("aumentar_producto"+this.item.id).value 
      this.precio = document.getElementById("Precio_producto"+this.item.id).value 
      this.precio_descuento = document.getElementById("Descuento"+this.item.id).value 
          const producto  = {
            nombre: this.nombre,
            descripcion: this.descripcion,
            cantidad: this.cantidad,
            precio: this.precio,
            precio_descuento: this.precio_descuento,
            imagen: this.imagen
          }
          try {
            const {data} = await this.$api.put("producto/"+this.item.id,producto)
            this.$emit("response",true)
            alert(data.msg)
            this.$emit("response", true)
          } catch (error) {
            alert(error.message)
          }
    },
  }
}
</script>
