<template>
    <div>
      <a
      href=""
      class="text-secondary font-weight-bold text-xs"
      type="button"
      data-bs-toggle="modal"
      :data-bs-target="'#modaluserupdate'+usuario.id"
      data-original-title="Edit user"
      >
      <i class="fas fa-edit me-2" aria-hidden="true"></i>
      Editar</a
      >

      <div class="modal fade" :id="'modaluserupdate'+usuario.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content ">
            <div class="modal-header text-center borde back-dark">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="d-flex text-center back-dark asd" color="dark" variant="gradient">
                <ul class="nav flexwrap" role="tablist" >
                    <li class=" nav-item emptySimb" role="presentation">
                    <span class=" btn-secondary menu back-dark active" data-bs-toggle="tab" type="button"
                     aria-selected="true" role="tab" @click="option=1">DATOS PERSONALES</span></li>
                    <li class="nav-item emptySimb" role="presentation">
                        <span class=" btn-secondary menu back-dark"  data-bs-toggle="tab" type="button"
                        aria-selected="false" role="tab" @click="option=2">CAMBIAR CONTRASEÑA</span></li>
                    <li class="nav-item emptySimb" role="presentation">
                        <span class=" btn-secondary menu back-dark"  data-bs-toggle="tab" type="button"
                        aria-selected="false" role="tab" @click="option=3">GESTIONAR USUARIO</span></li>
                </ul>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form :id="'formUserUpdate'+usuario.id" role="form" @submit.prevent="Actualizar()">
                    <update-info-perso 
                    :nombre="usuario.nombre_completo" 
                    :ci="usuario.ci"
                    :imagen="usuario.imagen"
                    :id="usuario.id"

                    @nombre="(data)=>{if(data){nombre_act=data}}"
                    @ci="(data)=>{if(data){ci_act=data}}"
                    @foto="(data)=>{if(data){imagen_act=data}}"

                    v-if="option== 1"
                    />
                    <update-info-correo
                    :id="usuario.id"
                    @password="(data)=> password = data"
                    @rpassword="(data)=> rpassword = data"
                    v-if="option==2"
                    />
                    <update-user-status
                    :id="usuario.id" 
                    :rol="usuario.rol"
                    :estado="usuario.estado"
                    :turnoId="usuario.turnoId"
                    @rol="(data)=>{if(data){rol=data}}"
                    @estado="(data)=>{if(data){estado=data}}"
                    @turno="(data)=>{if(data){turnoId=data}}"

                    v-if="option==3"
                    />
                <div class="text-center">
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    >GUARDAR DATOS</soft-button
                  >
                </div>
              </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftButton from "@/components/SoftButton.vue";
import UpdateInfoPerso from "./UpdateInfoPerso.vue"
import UpdateInfoCorreo from "./UpdateInfoCorreo.vue"
import UpdateUserStatus from "./UpdateUserEstatus.vue"
export default {
    name: "ModalUserUpdate",
    components:{
        SoftButton,
        UpdateInfoPerso,
        UpdateInfoCorreo,
        UpdateUserStatus
    },
    props:{
        item: Object
    },
    data(){
        return{
            option: 1,
            imagen: null,
            usuario: this.item,

            nombre_act: this.item.nombre_completo,
            ci_act: this.item.ci,
            imagen_act:this.item.imagen,

            password:null,
            rpassword:null,

            rol:this.item.rol,
            estado:this.item.estado,
            turnoId: this.item.turnoId
        }
    },
    methods:{
        async Actualizar(){
          switch (this.option) {
            case 1:
                var perfil = {nombre_completo:this.nombre_act, ci:this.ci_act, imagen:this.imagen_act}
                try {
                  const {data} = await this.$api.put("/usuario/info/"+this.item.id, perfil)
                  alert(data.msg)
                  this.$emit("response", "true")
                } catch (error) {
                  alert(error.message)
                }
              break;
            case 2:
                if(this.password===this.rpassword){
                  try {
                    const {data} = await this.$api.put("usuario/correo/"+this.item.id,{password:this.password})
                    alert(data.msg)  
                    this.$emit("response", "true")
                  } catch (error) {
                  alert(error.message)
                  }
                }else{alert("Las contraseñas no coinciden")}
              break;
            case 3:
                var estado = {rol: this.rol, estado: this.estado, turnoId: this.turnoId}
                try {
                  const {data} = await this.$api.put("usuario/estado/"+this.item.id, estado)
                  alert(data.msg)
                  this.$emit("response", "true")
                } catch (error) {
                  alert(error.message)
                }
              break;
          }
        },
    }
}
</script>
<style>
.borde{
    border-bottom: none !important;
}
.menu{
    display: inline-block;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0) !important;
    padding: 10px;
}
.menu:hover{
    background-color: #62688a !important;
    border-bottom: 3px solid rgb(255, 255, 255) !important;
    transition: 0.3s;
}
.back-dark{
    background-color: #353c66 !important;
    background-image: none !important;
}
.menu.active{
    border-bottom: 3px solid rgb(255, 255, 255) !important;
    color: aliceblue !important;
    transition: 0.3s;
}
.flexwrap{
    flex-wrap: unset !important;
    padding: 20px !important;
}
.modal-content{
  width: fit-content !important;
}
</style>