<template>
    <div>
      <a
      href=""
      class="text-secondary font-weight-bold text-xs"
      type="button"
      data-bs-toggle="modal"
      :data-bs-target="'#modalhabupdate'+habitacion.id"
      data-original-title="Edit user"
      >
      <i class="fas fa-edit me-2" aria-hidden="true"></i>
      Ver mas</a
      >

      <div class="modal fade" :id="'modalhabupdate'+habitacion.id" data-bs-backdrop="static" 
      data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content ">
            <div class="modal-header text-center borde back-dark">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="d-flex text-center back-dark asd" color="dark" variant="gradient">
                <ul class="nav flexwrap" role="tablist" >
                    <li class=" nav-item emptySimb" role="presentation">
                    <span class=" btn-secondary menu back-dark active" data-bs-toggle="tab" type="button"
                     aria-selected="true" role="tab" @click="option=1">INFORMACION</span></li>
                    <li class="nav-item emptySimb" role="presentation">
                        <span class=" btn-secondary menu back-dark"  data-bs-toggle="tab" type="button"
                        aria-selected="false" role="tab" @click="option=2">EDITAR</span></li>
                    <li class="nav-item emptySimb" role="presentation">
                        <span class=" btn-secondary menu back-dark"  data-bs-toggle="tab" type="button"
                        aria-selected="false" role="tab" @click="option=3">GESTIONAR ACTIVOS</span></li>
                </ul>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form :id="'formHabUpdate'+habitacion.id" role="form" @submit.prevent="Actualizar()">
                  <info-habitacion :habitacion="habitacion" :habitacionActivos="activosHab" v-if="option==1"/>
                  <update-info-hab 
                  @precio="(data)=>{if(data){precio_noche=data}}"
                  @descripcion="(data)=>{if(data){descripcion=data}}"
                  @estado="(data)=>{if(data){estado=data}}"
                  @imagen="(data)=>{if(data){imagenes=data}}"
                  :habitacion="habitacion" v-if="option== 2"/>
                  <manage-hab @response="(data)=>{if(data){activosHab=data}}"
                    :activo="activo" :habitacionActivos="activosHab" :habitacion="habitacion" v-if="option==3"/>
                  <div class="text-center">
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    v-if="option==2"
                    >GUARDAR DATOS</soft-button
                  >
                </div>
              </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div> 
</template>
<script>
import UpdateInfoHab from "./UpdateInfoHab.vue"
import ManageHab from "./ManageHab.vue"
import InfoHabitacion from "./InfoHabitacion.vue"
import SoftButton from "@/components/SoftButton.vue"
export default {
    name: "ModalHabUpdate",
    components:{
      UpdateInfoHab,
      ManageHab,
      InfoHabitacion,
      SoftButton
    },
    props:{
        habitacion:Object,
        activo:Array
    },
    data(){
      return{
        option:1,
        activosHab:[],
        descripcion:this.habitacion.descripcion,
        imagenes:this.habitacion.imagenes,
        precio_noche:this.habitacion.precio_noche,
        estado:this.habitacion.estado
      }
    },
    created(){
      this.listarActivos()
    },
    methods:{
        async listarActivos(){
            this.activosHab=[]
              const {data} = await this.$api.get("habitacion_activo/"+this.habitacion.id)
              data.forEach(async (item) => {
                  const activo = await this.$api.get("activo/"+item.activoId)
                  this.activosHab.push(activo.data)
              });
        },
        async Actualizar(){
          const update = {
            descripcion : this.descripcion,
            imagenes : this.imagenes,
            precio_noche : this.precio_noche,
            estado:this.estado
          }
          console.log(update)
          try {
            const {data} = await this.$api.put("habitacion/"+this.habitacion.id, update)
            this.$emit("response", true)
            alert(data.msg)
          } catch (error) {
            alert(error.message)
          }
        }
    }
}
</script>
<style>
.borde{
    border-bottom: none !important;
}
.menu{
    display: inline-block;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0) !important;
    padding: 10px;
}
.menu:hover{
    background-color: #62688a !important;
    border-bottom: 3px solid rgb(255, 255, 255) !important;
    transition: 0.3s;
}
.back-dark{
    background-color: #353c66 !important;
    background-image: none !important;
}
.menu.active{
    border-bottom: 3px solid rgb(255, 255, 255) !important;
    color: aliceblue !important;
    transition: 0.3s;
}
.flexwrap{
    flex-wrap: unset !important;
    padding: 20px !important;
}
.modal-content{
  width: fit-content !important;
}
</style>