<template>
    <div class="row">
        <div>
            <span>Nombre Completo</span>
            <soft-input
            :id="'nombre'+id"
            type="text"
            placeholder="Nombre Completo"
            @change="nombre_"
            :value="nombre"
            />
        </div>
        <div>
            <span>Cedula de Identidad</span>
            <soft-input
            :id="'ci_'+id"
            type="text"
            placeholder="Cedula de Identidad"
            @change="ci_"
            :value="ci"
            />
        </div>
        <div class="mb-3" v-if="imagen">
            <img :src="imagen" width="200" height="200">
        </div>
        <div class="mb-3">
            <span>Actualizar foto de perfil</span>
            <input class="form-control" @change="onFileSelected" type="file"  :id="'foto'+id" accept="image/*">
        </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
export default {
    name: "UpdateInfoPerso",
    components:{
        SoftInput
    },
    props:{
        id: Number,
        nombre: String,
        ci: String,
        imagen: String
    },
    data(){
        return{
            foto: null

        }
    },
    methods:{
        nombre_(){
            const nombre = document.getElementById('nombre'+this.id).value
            this.$emit('nombre',nombre)
        },
        ci_(){
            const ci = document.getElementById('ci_'+this.id).value
            this.$emit('ci',ci)
        },
         onFileSelected(event){
            var input = event.target;
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = (e) => {
                this.foto = e.target.result
                this.$emit('foto', this.foto)
                }
                reader.readAsDataURL(input.files[0]);
            }
    },
    }
}
</script>