<template>
    <div>
        <div class=" btnn justify-content-center d-flex align-items-center" data-bs-toggle="modal" :data-bs-target="'#staticBackdropMenuEdit'+item.id">
            <i class="fa fa-edit"></i>
        </div>

      <div class="modal fade" :id="'staticBackdropMenuEdit'+item.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Editar de Menu
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form id="formMenuEdit" role="form" @submit.prevent="EditarProducto()">
                <div class="mb-3">
                  <soft-input
                    :id="'e_nombre_producto'+item.id"
                    type="text"
                    placeholder="Nombre del producto"
                    aria-label="Name"
                    :value="producto"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    :id="'e_descripcion_producto'+item.id"
                    type="text"
                    placeholder="Descripcion del producto"
                    aria-label="Name"
                    :value="descripcion"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    :id="'e_precio_producto'+item.id"
                    type="number"
                    placeholder="Precio c/u"
                    aria-label="Name"
                    :value="precio_cu"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    :id="'e_precio_descuento'+item.id"
                    type="number"
                    placeholder="Descuento"
                    aria-label="Name"
                    :value="precio_descuento"
                  />
                </div>
                <div class="mb-3" v-if="imagen">
                    <img :src="imagen" alt="" width="100" height="100">
                </div>
                <div class="text-center">
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    >GUARDAR DATOS</soft-button
                  >
                </div>
              </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
export default{
  name: "MenuEdit",
  components: {
    SoftInput,
    SoftButton,
  },
  props:{
    item: Object
  },
  data(){
    return{
      producto: this.item.producto,
      descripcion: this.item.descripcion,
      precio_cu:this.item.precio_cu.toString(),
      precio_descuento:this.item.precio_descuento.toString(),
      estado: this.item.estado,
      imagen: this.item.imagen,
    }
  },
  methods:{
    async EditarProducto(){
      this.producto = document.getElementById("e_nombre_producto"+this.item.id).value 
      this.descripcion = document.getElementById("e_descripcion_producto"+this.item.id).value 
      this.precio_cu = document.getElementById("e_precio_producto"+this.item.id).value 
      this.precio_descuento = document.getElementById("e_precio_descuento"+this.item.id).value

          const menu  = {
            producto: this.producto,
            descripcion: this.descripcion,
            precio_cu: this.precio_cu,
            precio_descuento:this.precio_descuento,
          }
          try {
            const {data} = await this.$api.put("menuUpdate/"+this.item.id,menu)
            this.$emit("menu",true)
            alert(data.msg)
          } catch (error) {
            alert(error.message)
          }
    },
  }
}
</script>
