<template>
    <div class="row">
        <div>
            <span>CODIGO DE HABITACION</span>
            <soft-input
            :id="'cod'+habitacion.id"
            type="text"
            placeholder="CODIGO HABITACION"
            @change="codigo"
            :value="codigo_habitacion_"
            isDisabled
            />
        </div>
        <div>
            <span>PRECIO NOCHE</span>
            <soft-input
            :id="'precio_'+habitacion.id"
            type="number"
            placeholder="PRECIO"
            @change="precio"
            :value="precio_noche_"
            />
        </div>
        <div>
            <span>DESCRIPCION</span>
            <soft-input
            :id="'descripcion_hab'+habitacion.id"
            type="text"
            placeholder="DESCRIPCION"
            @change="descripcionHab"
            :value="descripcion_"
            />
        </div>
        <div>
            <span>ESTADO</span>
            <select :value="estado_" @change="estado()" :id="'estado'+habitacion.id" class="form-select" aria-label="Seleccionar tp">
                <option selected disabled>Seleccione estado</option>
                <option  value="disponible">Disponible</option>
                <option  value="limpieza">En limpieza</option>
                <option  value="mantenimiento">En mantenimiento</option>
                <option  value="ocupado">Ocupado</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Imagenes de la habitacion</label>
            <input class="form-control" @change="onChange" type="file" id="formFileMultiple" multiple accept="image/*">
        </div>
            <div class="mb-3" v-if="imageData">
            <img class="pad-left" :src="item" alt="" width="100" height="100" v-for="item in imageData" :key="item.id">
        </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
export default {
    name: "UpdateInfoHab",
    components:{
        SoftInput
    },
    props:{
        habitacion: Object
    },
    data(){
        return{
            foto: null,
            codigo_habitacion_: this.habitacion.codigo_habitacion,
            descripcion_:this.habitacion.descripcion,
            precio_noche_:this.habitacion.precio_noche.toString(),
            estado_: this.habitacion.estado,
            tipoId_:"",
            imageData:this.habitacion.imagenes
        }
    },
    methods:{
        codigo(){
            this.codigo_habitacion = document.getElementById('cod'+this.habitacion.id).value
        },
        precio(){
            this.precio_noche_ = document.getElementById('precio_'+this.habitacion.id).value
            this.$emit("precio", this.precio_noche_)
        },
        descripcionHab(){
            this.descripcion_ = document.getElementById('descripcion_hab'+this.habitacion.id).value
            this.$emit("descripcion",this.descripcion_)
        },
        estado(){
            this.estado_ = document.getElementById('estado'+this.habitacion.id).value
            console.log(this.estado_)
            this.$emit("estado",this.estado_)
        },
        onChange(event){
            this.imageData = []
            var input = event.target;
            var i = 0
            while(input.files[i]){
              if (input.files && input.files[i]) {
                var reader = new FileReader();
                reader.onload = (e) => {
                  this.imageData.push(e.target.result)
                }
                reader.readAsDataURL(input.files[i]);
              }
              i++
            }
            this.$emit("imagen",this.imageData)
        }
    }
}
</script>