<template>
    <div class="row">
        <div class="mb-3">
            <span>Rol actual: {{rol}}</span>
            <select @change="rol_u" :id="'rol'+id" class="form-select" aria-label="Seleccionar rol">
                <option selected>Seleccione el rol del usuario</option>
                <option v-for="item in ArrayRoles" :key="item.id" :value="item.rol">{{item.rol}}</option>
            </select>
        </div>
        <div class="mb-3">
            <span>Estado actual: {{estado}}</span>
            <select @change="estado_u" :id="'estado'+id" class="form-select" aria-label="Seleccionar estado">
                <option selected>Seleccionar estado del usuario</option>
                <option value="Habilitado">Habilitado</option>
                <option value="Deshabilitado">Deshabilitado</option>
            </select>
        </div>
        <div class="mb-3">
            <span>Turno actual: {{turno}}</span>
            <select @change="turno_u" :id="'turno'+id" class="form-select" aria-label="Seleccionar rol">
                <option selected >Seleccione el turno</option>
                <option v-for="item in ArrayTurnos" :key="item.id" :value="item.id" >{{item.turno}}</option>
            </select>
        </div>
    </div>
</template>
<script>
export default {
    name: "UpdateUserStatus",
    components:{
    },
    props:{
        id:Number,
        rol:String,
        estado:String,
        turnoId:Number
    },
    data(){
        return{
            ArrayRoles:[],
            ArrayTurnos:[],
            turno:"No asignado"
        }
    },
    created(){
        this.ListarRoles()
        this.ListarTurnos()
        this.BuscarTurno()
    },
    methods:{
        async ListarRoles(){
            const {data} = await this.$api.get("rol")
            this.ArrayRoles = data
        },
        async ListarTurnos(){
            const {data} = await this.$api.get("turno")
            this.ArrayTurnos = data
        },
        async BuscarTurno(){
            const {data} = await this.$api.get("turno/"+this.turnoId)
            this.turno = data.turno
        },
        rol_u(){
            const rol = document.getElementById('rol'+this.id).value
            this.$emit("rol", rol)
        },
        estado_u(){
            const estado = document.getElementById('estado'+this.id).value
            this.$emit("estado", estado)
        },
        turno_u(){
            const turno = document.getElementById('turno'+this.id).value
            this.$emit("turno", turno)
        }
    }
}
</script>