<template>
    <div>
      <soft-button color="dark" variant="gradient" data-bs-toggle="modal" :data-bs-target="'#modalActivoEdit'+item.id">
        <i class="fas fa-edit me-2"></i>
          Editar
      </soft-button>

      <div class="modal fade" :id="'modalActivoEdit'+item.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Editar activo
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form :id="'formActivoU'+this.item.id" role="form" @submit.prevent="UpdateActivo()">
                <div class="mb-3">
                  <soft-input
                    :id="'nombre_activo'+item.id"
                    type="text"
                    placeholder="Nombre de activo"
                    aria-label="Name"
                    :value="item.nombre"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    :id="'codigo_activo'+item.id"
                    type="text"
                    placeholder="Codigo de activo ej: TV001"
                    aria-label="Name"
                    :value="item.codigo_activo"
                    isDisabled
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    :id="'descripcion_activo'+item.id"
                    type="text"
                    placeholder="Descripcion"
                    aria-label="Name"
                    :value="item.descripcion"
                  />
                </div>
                <div class="mb-3">
                  <soft-input
                    :id="'marca'+item.id"
                    type="text"
                    placeholder="Marca"
                    aria-label="Name"
                    :value="item.marca"
                  />
                </div>
                <div class="mb-3 form-floating">
                    <select @change="estado_u"  :id="'estado_activo'+item.id" class="form-select" aria-label="Seleccionar estado">
                      <option selected disabled>Estado del activo</option>
                      <option  value="disponible">Disponible</option>
                      <option  value="ocupado"  >Ocupado</option>
                      <option  value="mantenimiento">Mantenimiento</option>
                    </select>
                    <label for="estado_activo">ESTADO PREVIO : {{item.estado.toUpperCase()}}</label>
                  </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Cargar Imagen de Activo</label>
                    <input class="form-control" @change="onChange" type="file" :id="'imagen_activo'+item.id"  accept="image/*">
                </div>
                <div class="mb-3" v-if="imagen">
                    <img :src="imagen" alt="" width="100" height="100">
                </div>
                <div class="text-center">
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    >GUARDAR DATOS</soft-button
                  >
                </div>
              </form>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue"
import SoftButton from "@/components/SoftButton.vue";
export default{
  name: "EditarActivo",
  components: {
    SoftInput,
    SoftButton,
  },
  props:{
    item: Object
  },
  data(){
    return{
      nombre:"",
      codigo_activo: "",
      descripcion: "",
      marca: "",
      estado:this.item.estado,
      imagen: this.item.imagen,
    }
  },
  methods:{
    estado_u(){
        this.estado = document.getElementById('estado_activo'+this.item.id).value
    },
    onChange(event) {
      var input = event.target;
      this.imagen = event.target.files[0]
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = (e) => {
          this.imagen = e.target.result
        }
        reader.readAsDataURL(input.files[0]);
      }
    },
    async UpdateActivo(){
      this.nombre = document.getElementById("nombre_activo"+this.item.id).value 
      this.codigo_activo = document.getElementById("codigo_activo"+this.item.id).value 
      this.descripcion = document.getElementById("descripcion_activo"+this.item.id).value 
      this.marca = document.getElementById("marca"+this.item.id).value 
          const activo  = {
            nombre: this.nombre,
            descripcion: this.descripcion,
            marca: this.marca,
            estado: this.estado,
            imagen: this.imagen
          }
          try {
            const {data} = await this.$api.put("activo/"+this.item.id,activo)
            this.$emit("response",true)
            alert(data.msg)
            this.$emit("response", true)
          } catch (error) {
            alert(error.message)
          }
    },
  }
}
</script>
