<template>
    <div>
      <a
      href=""
      class="text-secondary font-weight-bold text-xs"
      type="button"
      data-bs-toggle="modal"
      :data-bs-target="'#modalMemo'+id"
      data-original-title="Edit user"
      >
      <i class="fa fa-sticky-note-o me-2" aria-hidden="true"></i>
      Memorandum</a
      >
      <div class="modal fade" :id="'modalMemo'+id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center" color="dark" variant="gradient">
              <h5 class="modal-title text-white" >Crear Memorandum o Bono</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form :id="'formBonus'+id" role="form" @submit.prevent="registrar()">
            <div class="modal-body">
              <div class="container-fluid ">
                    <div class="row bord">
                    <div class="col-sm-12 bord">
                        <div class="mb-1">
                        <label class="text-sm" >Caracteristicas</label>
                        <select  :id="'tipo'+id" class="form-select" aria-label="Seleccionar tp">
                            <option selected disabled>Seleccione uno</option>
                            <option value="Memorandum">Memorandum</option>
                            <option value="Bonificacion">Bonificacion</option>
                        </select>
                        </div>
                        <div class="row bord" >
                        <div class="col-8 col-sm-6 bord">
                            <div class="mb-1">
                            <label class="text-sm" >De: {{id}}</label>
                            <soft-input
                                :id="'emisor'+id"
                                type="text"
                                placeholder="Encargado"
                                aria-label="Name"
                            />
                            </div>
                        </div>
                        <div class="col-4 col-sm-6 bord">
                            <label class="text-sm" >Para:</label>
                            <div class="mb-1">
                            <soft-input
                                :id="'receptor'+id"
                                type="text"
                                placeholder="Empleado"
                                aria-label="Name"
                                :value="nombre"
                                :isDisabled="true"
                            />
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="mb-1">
                            <label class="text-sm" >Asunto:</label>
                            <soft-input
                                :id="'asunto'+id"
                                type="text"
                                placeholder="Asunto"
                                aria-label="Name"
                            />
                        </div>
                        <div class="mb-1">
                            <label for="description-text" class="col-form-label">Por tal motivo se le atribuye a su persona lo siguiente:</label>
                            <textarea class="form-control" :id="'description-text'+id" placeholder="Descripcion con detalles sobre el asunto del reporte"></textarea>
                        </div>
                        <div class="alert alert-warning" role="alert">
                            <span><b>
                                Recuerde llenar este formulario responsablemente. <br>
                                El guardado que realize puede afectar a la boleta de pago del empleado.
                                </b> </span> 
                        </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    ><i class="fa fa-"></i>GUARDAR</soft-button
                  >
                </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftButton from "@/components/SoftButton.vue"
import SoftInput from "@/components/SoftInput.vue"
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
import { jsPDF } from "jspdf";
export default {
    name: "memorandum-bonus",
    components:{
        SoftButton,
        SoftInput
    },
    props:{
        id: Number,
        nombre: String
    },
    data(){
        return{
            monthNames:["enero", "febrero","marzo","mayo","junio", "julio","agosto","septiembre","octubre", "noviembre","diciembre"],
        }
    },
    methods:{
        getMonth(month){
            return this.monthNames[month-1]
        },
        async registrar(){
            const tipo = document.getElementById('tipo'+this.id).value
            //const emisor = document.getElementById('emisor'+this.id).value
            const receptor = document.getElementById('receptor'+this.id).value
            const asunto = document.getElementById('asunto'+this.id).value
            const descripcion = document.getElementById('description-text'+this.id).value
            const ficha = {
                tipo,
                asunto,
                descripcion,
                monto:0,
                adminId: localStorage.getItem("idUsuario"),
                userId: this.id
            }
            try {
            const {data} = await this.$api.post("ficha",ficha)
            const toast = useToast();
            toast.success(data.msg);
            } catch (error) {
                const toast = useToast();
                toast.error(error.message);
            }

            const fecha = new Date()
            const dia = fecha.getDate()
            const mes = this.getMonth(fecha.getMonth())
            const año = fecha.getFullYear()
            
            const doc = new jsPDF()
            doc.setTextColor("#834b03")
            doc.setFontSize(30)
            doc.setFont("trajan","normal")
            doc.text(tipo.toUpperCase(),15,30)

            doc.setLineWidth(0.1)
            doc.setDrawColor("#834b03")
            doc.line(0,32,220,32)
            doc.line(5,0,5,600)
            
            doc.setTextColor("#000000")
            doc.setFontSize(12)
            doc.text(`Potosí, ${dia} de ${mes} de ${año}`, 20,45)

            doc.setFont("trajan","bold")
            doc.text('HOSTAL TUKOS POTOSÍ',20,70)

            doc.setFont("trajan","bold")
            doc.text('PARA:',20,80)

            doc.setFont("trajan","normal")
            doc.text(`${receptor}`,25,85)

            doc.setFont("trajan","bold")
            doc.text('EMPLEADO HOSTAL TUKOS POTOSÍ',25,90)
            
            doc.text(`ASUNTO :` ,20,100)

            doc.setFont("trajan","normal")
            doc.text(asunto,25,105)

            doc.text(`PRESENTE :` ,20,120)
            var textoFinal = `En caso de persistir conductas irregulares en las funciones `
            +`que su persona desempeña las medidas que tomaremos seran mas fuertes.`
            if(tipo==="Bonificacion"){
            textoFinal = `Con tal beneficio otorgado a su buen desempeño esperamos `
            +`que su persona siga ejerciendo su labor con la misma actidud para el bien comun de todo el colectivo.`
            }
            doc.line(15,122,195,122)
            const text = `En principio tenga usted un cordial saludo, el motivo de la presente es hacer de su `
            +`conocimiento un/una: ${asunto.toLowerCase()}.\n`+`\n`+`Por tal motivo se le atribuye a su persona lo `
            +`siguiente : ${descripcion.toLowerCase()}\n`+`\n`+textoFinal
                                
            doc.text(text,20,130,{lineHeightFactor: 1,maxWidth:170})

            doc.setFont("trajan","normal")
            doc.text("Atentamente,",100,250,{align:'center'})
            doc.text("Administracion Hostal Tukos",100,265,{align:'center'})
            doc.autoPrint({variant: 'non-conform'})
            doc.output('dataurlnewwindow',{filename:"Reporte.pdf"});
        },
    }
}
</script>
<style>
/*.asd{
    background-color: #834b03;
}*/
</style>