<template>
    <div>
      <a
      href=""
      class="text-secondary font-weight-bold text-xs"
      type="button"
      data-bs-toggle="modal"
      :data-bs-target="'#modalPayment'+id"
      data-original-title="Edit user"
      >
      <i class="fa fa-sticky-note-o me-2" aria-hidden="true"></i>
      Boleta de pago </a
      >
        <div class="modal fade" :id="'modalPayment'+id" data-bs-backdrop="static" 
        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center borde back-dark" color="dark" variant="gradient">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="limpiar"></button>
            </div>
            <div class="d-flex text-center back-dark asd" color="dark" variant="gradient">
                <ul class="nav flexwrap" role="tablist" >
                    <li class=" nav-item emptySimb" role="presentation">
                    <span class=" btn-secondary menu back-dark active" data-bs-toggle="tab" type="button"
                     aria-selected="true" role="tab" @click="option=1">Registrar Boleta</span></li>
                    <li class="nav-item emptySimb" role="presentation">
                        <span class=" btn-secondary menu back-dark"  data-bs-toggle="tab" type="button"
                        aria-selected="false" role="tab" @click="option=2">Buscar Boleta</span></li>
                </ul>
            </div>
            <div class="modal-body"> 
              <div class="container-fluid" v-if="option==1">
                <div class="mb-3">
                  <select @change="cargarFecha()" v-model="año" :id="'año'+id" class="form-select" aria-label="Seleccionar tp">
                      <option selected>Seleccione el año</option>
                      <option v-for="item in años" :key="item.id" :value="item">{{item}}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <select v-model="mes" @change="cantDias()" :id="'mes'+id" class="form-select" aria-label="Seleccionar tp">
                      <option selected disabled>Seleccione el mes</option>
                      <option v-for="item in meses" :key="item.id" :value="item">{{item}}</option>
                  </select>
                </div> 
                <div class="mb-3">
                  <soft-input
                  :id="'salario'+id"
                  type="number"
                  placeholder="Ingrese sueldo"
                  aria-label="Name"
                  @change="sueldo"
                  />
                </div>
              </div>
              <div class="container-fluid" v-if="option==2">
                  <div class="mb-1">
                        <select v-model="año" @change="cargarFecha()"  :id="'año_o'+id" class="form-select" aria-label="Seleccionar tp">
                            <option selected>Seleccione el año</option>
                            <option v-for="item in años" :key="item.id" :value="item">{{item}}</option>
                        </select>
                    </div>
                   <div class="mb-3">
                        <select v-model="mes" :id="'mes_o'+id" class="form-select" aria-label="Seleccionar tp">
                            <option selected >Seleccione el mes</option>
                            <option v-for="item in meses" :key="item.id" :value="item">{{item}}</option>
                        </select>
                    </div> 
              </div>
            </div>
            <div class="table-responsive p-0"  >
              <table id="tabla_a" class="table align-items-center mb-0" v-if="(option==1)">
                <thead>
                  <tr>
                    <th  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Mes
                    </th>
                    <th  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Año
                    </th>
                    <th  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Dias
                    </th>
                    <th  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Ingresos
                    </th>
                    <th  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Descuentos
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">
                      <p class="text-xs font-weight-bold mb-0">{{mes}}</p>
                    </td >
                    <td class="text-center">
                      <p class="text-xs font-weight-bold mb-0">{{año}}</p>
                    </td>
                    <td class="text-center">
                      <p class="text-xs font-weight-bold mb-0">{{dias}}</p>
                    </td>
                    <td class="text-end">
                      <p class="text-xs font-weight-bold mb-0" v-for="item in ingresos " :key="item.id">{{item.asunto}} : {{item.monto}}</p>
                    </td>
                    <td class="text-end">
                      <p class="text-xs font-weight-bold mb-0" ></p>
                    </td>
                  </tr>
                  <tr class="">
                    <td class="text-center" colspan="5">
                      <p class="text-xs font-weight-bold mb-3"><b>Total Liquido pagable :</b>{{total}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table id="tabla" class="table align-items-center mb-0" v-if="(option==2)">
                <thead>
                  <tr>
                    <th  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Mes
                    </th>
                    <th  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Año
                    </th>
                    <th  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Dias
                    </th>
                    <th  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Ingresos
                    </th>
                    <th  class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Descuentos
                    </th>
                  </tr>
                </thead>
                <tbody v-if="boleta">
                  <tr>
                    <td class="text-center">
                      <p class="text-xs font-weight-bold mb-0" >{{boleta.mes}}</p>
                    </td >
                    <td class="text-center">
                      <p class="text-xs font-weight-bold mb-0">{{boleta.año}}</p>
                    </td>
                    <td class="text-center">
                      <p class="text-xs font-weight-bold mb-0">{{boleta.dias}}</p>
                    </td>
                    <td class="text-end">
                      <p class="text-xs font-weight-bold mb-0" v-for="item in boleta.ingresos"  :key="item.id">{{item.asunto}} : {{item.monto}}</p>
                    </td>
                    <td class="text-end">
                      <p class="text-xs font-weight-bold mb-0" v-for="item in boleta.descuentos"  :key="item.id">{{item.asunto}} : {{item.monto}}</p>
                    </td>
                  </tr>
                  <tr class="">
                    <td class="text-center" colspan="5">
                      <p class="text-xs font-weight-bold mb-3"><b>Total Liquido pagable :</b>{{boleta.total}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
                <div class="text-center" v-if="option==1">
                  <soft-button
                    type="sumbit"
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    @click="Guardar"
                    ><i class="fa fa-">GUARDAR BOLETIN</i></soft-button
                  >
                </div>
                <div class="text-center" v-if="option==2">
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    @click="obtenerBoletin"
                    ><i class="fa fa-"></i>OBTENER BOLETIN</soft-button
                  >
                </div>
                <div class="text-center" v-if="option==2">
                  <soft-button
                    color="dark"
                    full-width
                    variant="gradient"
                    class="my-2 mb-2"
                    @click="Imprimir"
                    ><i class="fa fa-"></i>Imprimir</soft-button
                  >
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftButton from "@/components/SoftButton.vue"
import SoftInput from "@/components/SoftInput.vue"
import { jsPDF } from "jspdf";
import 'jspdf-autotable'
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
export default {
    name: "paymentbulletin",
    components:{
        SoftButton,
        SoftInput
    },
    props:{
        id:Number,
        usuario:Object
    },
    data(){
        return{
            option: 1,
            boleta:null,
            meses:["enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre", "octubre", "noviembre", "diciembre"],
            años:[2021,2022],
            mes:"Seleccione el mes",
            year: null,
            dias: 0,
            salario: 0,
            ingresos: [],
            descuentos:[],
            total: 0,
            ingresos_ :0,
            descuentos_ : 0,
            año: "Seleccione el año",
        }
    },
    created(){
      this.cargarFecha()
    },
    computed:{
    },
    methods:{
      cantDias(){
          const asd = this.meses.indexOf(this.mes)
          this.dias = new Date(this.año, asd+1, 0).getDate()
      },
        cargarFecha(){
          this.mes = "Seleccione el mes"
          const date = new Date()
          const year = date.getFullYear()
          const month = date.getMonth()
          console.log(year)
          if(this.año == year){
            this.meses = this.meses.slice(0,month+1)
          }
        },
        async sueldo(){
          this.descuentos_ = 0
          this.ingresos_ = 0
          this.salario = document.getElementById('salario'+this.id).value
          const {data} = await this.$api.get("ficha/"+this.id)
          this.ingresos.push({asunto: "Haber basico ", monto:this.salario})
          if(data){
            data.forEach(item => {
              if(item.monto){
                if(item.tipo =="Memorandum"){
                  this.ingresos_ += item.monto
                  this.descuentos.push({asunto:item.asunto,monto:item.monto})
                }else{this.descuentos_ += item.monto
                  this.ingresos.push({asunto:item.asunto,monto:item.monto})}
              }
            });
          }
          this.total = parseFloat(this.ingresos_)+parseFloat(this.salario)-this.descuentos_
        },
        async Guardar(){
          this.mes = document.getElementById('mes'+this.id).value
          this.año = document.getElementById('año'+this.id).value
          
          

          const boletin ={
            mes: this.mes,
            año: this.año,
            dias:this.dias,
            ingresos: this.ingresos,
            descuentos: this.descuentos,
            total: this.total,
            estado: true,
            userId: this.id
          }
          try {
            const res = await this.$api.post("boletin",boletin)
            const toast = useToast();
            toast.success(res.data.msg);            
          } catch (error) {
            const toast = useToast();
            toast.error(error.message);
          }
        },
        async obtenerBoletin(){
          this.mes = document.getElementById('mes_o'+this.id).value
          this.año = document.getElementById('año_o'+this.id).value
          const datos = {
            mes: this.mes,
            año: this.año,
            userId: this.id
          }
          console.log(datos)
          try {
              const {data} = await this.$api.post("boletinDown",datos)
              this.boleta = data
          } catch (error) {
            const toast = useToast();
            toast.error("No existe regsitro de mes y año");
          }
          
        },
        Imprimir(){
            
            var doc = new jsPDF()
            
            doc.setFontSize(12)
            doc.text("BOLETA DE PAGO - EMPLEADOS",110,25,{align: "center"})
            
            doc.setLineWidth(0.1)
            doc.line(25,35,185,35)

            doc.setFontSize(9)
            doc.text("Empleado(a):"+this.usuario.nombre_completo.toUpperCase()+" "+this.usuario.email.toUpperCase(), 25,40)

            doc.text("Cargo: "+this.usuario.rol.toUpperCase(),25,50)

            doc.text("Sueldo o Salario: "+this.boleta.total, 25, 60)

            doc.text("Salario por el mes de : "+this.boleta.mes.toUpperCase()+" de "+this.boleta.año,25,70)

            doc.text("Fecha de ingreso: "+this.usuario.fecha_registro,25, 80)

            doc.text("Dias trabajados: "+this.boleta.dias,25,90)

            doc.text("Dias no trabajados:",25,100)

            doc.line(25,105,185,105)

            doc.autoTable({ theme: 'grid',html: '#tabla',margin:{ top: 110 },columnStyles: { 0: { halign: 'center'} }})
               
            doc.output('dataurlnewwindow',{filename:"Boletin.pdf"});
        },
        limpiar(){
          if(this.option==1){
            document.getElementById('mes'+this.id).value = 1
            document.getElementById('año'+this.id).value = 1
            document.getElementById('salario'+this.id).value = null
          }
        }
    },
    setup() {
        
    },
}
</script>