<template>
    <div>
        <soft-button
        color="dark"
        full-width
        variant="gradient"
        class="my-2 mb-2 dfs "
        ><i class="fa fa-arrows-h me-2"></i></soft-button>
    </div>
</template>
<script>
import SoftButton from "@/components/SoftButton.vue"
export default {
    name: "spreadsheets",
    components:{
        SoftButton
    },
    setup() {
        
    },
}
</script>