<template>
  <div class="py-4 container-fluid row">
    <menu-personal
      @roles="(data) => roles.push(data)"
      @turnos="(data) => turnos.push(data)"
      @usuarios="(data) => usuarios.push(data)"
      :ArrayRoles="roles"
      :ArrayTurnos="turnos"
    />
    <div class="mb-3">
      <div class="width align-right">
        <form class="d-flex bar">
          <input
            v-model="ci"
            id="codigo"
            class="tam form-control me-2"
            type="search"
            placeholder="Cedula de identidad"
            aria-label="Search"
          />
        </form>
      </div>
      <table-users
        @users="
          (data) => {
            if (data) {
              ListarUsuarios();
            }
          }
        "
        :usuarios="ListaUsuarios"
      />
    </div>
    <div class="row">
      <attendance :usuarios="ListaUsuarios" class="col-6" />
      <novedades :usuarios="ListaUsuarios" :tareas="tareas" class="col-6" />
    </div>
  </div>
</template>
<script>
import MenuPersonal from "./components/MenuPersonal.vue";
import TableUsers from "./components/TableUsers.vue";
import Attendance from "./components/attendance.vue";
import Novedades from "./components/novedades.vue";
export default {
  components: {
    MenuPersonal,
    TableUsers,
    Attendance,
    Novedades,
  },
  computed: {
    ListaUsuarios() {
      var newUsers = [];
      if (this.ci) {
        newUsers = this.usuarios.filter((item) => !item.ci.indexOf(this.ci));
      } else {
        newUsers = this.usuarios;
      }
      return newUsers;
    },
  },
  data() {
    return {
      roles: [],
      turnos: [],
      usuarios: [],
      selected: null,
      ci: null,
      tareas: null,
    };
  },
  setup() {},
  created() {
    this.ListarRoles();
    this.ListarTurnos();
    this.ListarUsuarios();
    this.ListarTareas();
  },
  methods: {
    async ListarRoles() {
      const { data } = await this.$api.get("rol");
      this.roles = data;
    },
    async ListarTurnos() {
      const { data } = await this.$api.get("turno");
      this.turnos = data;
    },
    async ListarUsuarios() {
      const { data } = await this.$api.get("usuario");
      this.usuarios = data;
    },
    async ListarTareas() {
      const { data } = await this.$api.get("tarea");
      this.tareas = data;
    },
  },
};
</script>
<style>
.perfilU {
  width: auto;
  height: 100%;
  max-height: 200px;
}
.ajuste {
  height: 100%;
}
.emptySimb {
  list-style: none;
}
.card-body .ali {
  bottom: 0 !important;
  border-bottom: 1px solid firebrick;
  max-height: 100% !important;
}
.enab {
  color: green;
}
.diss {
  color: gray;
}
</style>
