<template>
  <div>
    <h1>Firma de Documento PDF</h1>
    <input type="file" ref="fileInput" @change="onFileChange" accept=".pdf" />
    <button @click="firmarDocumento" :disabled="!documentoCargado">
      Firmar Documento
    </button>
    <div v-if="documentoFirmado">
      <h2>Documento Firmado:</h2>
      <a :href="documentoFirmadoUrl" download="documento_firmado.pdf"
        >Descargar Documento Firmado</a
      >
    </div>
  </div>
</template>

<script>
import { PDFDocument, rgb } from "pdf-lib";

export default {
  data() {
    return {
      documentoCargado: false,
      documento: null,
      documentoFirmado: null,
      documentoFirmadoUrl: null,
      cargandoDocumento: false, // Variable adicional para controlar el estado de carga del archivo
    };
  },
  methods: {
    onFileChange(event) {
      this.documento = event.target.files[0];
      this.documentoCargado = false; // Reiniciar el estado de documentoCargado
      this.cargandoDocumento = true; // Marcar que se está cargando el archivo

      const fileReader = new FileReader();

      fileReader.onload = () => {
        this.documentoCargado = true; // Actualizar documentoCargado después de cargar el archivo
        this.cargandoDocumento = false; // Marcar que se ha completado la carga del archivo
      };

      fileReader.readAsArrayBuffer(this.documento);
    },
    async firmarDocumento() {
      if (!this.documentoCargado || this.cargandoDocumento) {
        return;
      }
      const fileReader = new FileReader();
      const documento = this.documento; // Guardar una referencia al documento actual

      const loadPromise = new Promise((resolve, reject) => {
        fileReader.onload = resolve;
        fileReader.onerror = reject;
      });

      fileReader.readAsArrayBuffer(documento);

      try {
        await loadPromise;
      } catch (error) {
        console.error("Error al cargar el archivo", error);
        return;
      }

      const pdfBytes = new Uint8Array(fileReader.result);
      const pdfDoc = await PDFDocument.load(pdfBytes);

      const [page] = pdfDoc.getPages();
      const { width, height } = page.getSize();
      const fontSize = 30;

      page.drawText("Firma Digital", {
        x: width / 2 - fontSize,
        y: height / 2 - fontSize / 2,
        size: fontSize,
        font: await pdfDoc.embedFont("Helvetica-Bold"),
        color: rgb(1, 0, 0),
      });

      const pdfBytesFirmado = await pdfDoc.save();
      const pdfUrl = URL.createObjectURL(
        new Blob([pdfBytesFirmado], { type: "application/pdf" })
      );

      this.documentoFirmado = pdfBytesFirmado;
      this.documentoFirmadoUrl = pdfUrl;
    },
  },
};
</script>
