<template>
  <div
    class="modal fade"
    id="modalreporte"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="exampleModalLabel">
            REPORTE POR USER
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div style="padding: 15px">
          <form
            @submit.prevent="submitForm"
            class="my-4 p-4 bg-light border rounded"
          >
            <div class="row g-3">
              <div class="col-md-12">
                <label for="user" class="form-label"
                  >Selecciona un Usuario:</label
                >
                <select v-model="selectedUser" id="user" class="form-select">
                  <option v-for="user in users" :value="user.id" :key="user.id">
                    {{ user.nombre_completo }}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="fecha_inicio" class="form-label"
                  >Fecha de inicio:</label
                >
                <input
                  v-model="fechaInicio"
                  type="date"
                  id="fecha_inicio"
                  class="form-control"
                />
              </div>
              <div class="col-md-6">
                <label for="fecha_fin" class="form-label">Fecha de fin:</label>
                <input
                  v-model="fechaFin"
                  type="date"
                  id="fecha_fin"
                  class="form-control"
                />
              </div>
            </div>
            <div class="d-grid gap-2 mt-4">
              <button type="submit" class="btn btn-success">
                Generar reporte
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <mini-statistics-card
          title="M O N T O - T O T A L"
          :value="'$' + monto_c"
          :icon="{
            component: 'ni ni-money-coins',
          }"
          direction-reverse
          class="titulo-destacado"
          id="totalcard"
        />
      </div>
      <div class="col-md-2">
        <button
          type="button"
          @click="abrirModal()"
          class="btn btn-danger"
          style="height: 82px; width: 100%"
        >
          Reporte Caja
        </button>
      </div>

      <pre style="color: red">
* Monto Total es la sumatoria de Ingreso e Egreso</pre
      >
      <div class="col s6">
        <mini-statistics-card
          title="Monto Inicial"
          :value="'$' + monto_i"
          :percentage="{
            value: '+505%',
            color: 'text-success',
          }"
          :icon="{
            component: 'ni ni-money-coins',
            background: iconBackground,
          }"
          direction-reverse
        />
      </div>
      <div class="col s6">
        <mini-statistics-card
          title="Monto realizado en turno"
          :value="'$' + monto_r"
          :percentage="{
            value: '+3%',
            color: 'text-success',
          }"
          :icon="{
            component: ' ni ni-money-coins',
            background: iconBackground,
          }"
          direction-reverse
        />
      </div>
    </div>
    <div class="row" style="width: 100%">
      <div class="col-md-6 aaa">
        <ranking-list-card
          :horizontal-break="false"
          :card="{
            title: 'Transacciones',
            date: fechaActual,
            subtitle: 'Recientes',
          }"
          :item="listaDetalleCaja"
        >
        </ranking-list-card>
      </div>
      <div class="col-md-6 mb-lg-0">
        <div class="card z-index-2">
          <div class="row justify-content-center">
            <div class="container">
              <form id="formTransaccion" role="form">
                <label for="exampleFormControlInput1" class="form-label"
                  >TRANSACCION : {{ transaccion.toUpperCase() }}</label
                >
                <div class="w-auto p-2">
                  <select
                    v-model="transaccion"
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>Seleccione transaccion</option>
                    <option value="ingreso">Ingreso</option>
                    <option value="egreso">Egreso</option>
                  </select>
                </div>
                <div class="w-auto p-2 text-center">
                  <input
                    v-model="descripcion_transaccion"
                    type="text"
                    class="form-control"
                    id="descripcion"
                    placeholder="Descripcion de la transaccion"
                  />
                </div>
                <div class="w-auto p-2 text-center">
                  <input
                    v-model="monto_transaccion"
                    type="number"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Inserte cantidad a retirar o ingresar"
                  />
                </div>
              </form>
              <div class="mb-3 d-flex justify-content-center">
                <soft-button
                  @click="RegTransaccion()"
                  class="mb-3 col-sm-4 w-auto"
                  >Registrar transaccion</soft-button
                >
              </div>
              <hr />
            </div>
            <soft-button
              @click="abrirCaja()"
              class="mb-3 col-sm-4"
              v-if="!estado"
              >Iniciar Caja</soft-button
            >
            <soft-button
              class="mb-3 col-sm-4"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              v-else
              >Cerrar Caja</soft-button
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-white" id="exampleModalLabel">
              Alerta
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Presione en guardar cambios para cerrar caja
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button @click="CerrarCaja()" type="button" class="btn">
              Guardar Cambios
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import MiniStatisticsCard from "@/examples/Cards/MiniStatisticsCard.vue";
import RankingListCard from "@/examples/Cards/RankingListCard.vue";
import SoftButton from "@/components/SoftButton.vue";
import { mapState, mapActions } from "vuex";
import { useToast } from "vue-toastification";
import "vue-toastification/dist/index.css";
import { jsPDF } from "jspdf";
import "jspdf-autotable";
import $ from "jquery";

import {
  faHandPointer,
  faUsers,
  faCreditCard,
  faScrewdriverWrench,
} from "@fortawesome/free-solid-svg-icons";
export default {
  name: "Billing",
  components: {
    MiniStatisticsCard,
    RankingListCard,
    SoftButton,
  },
  data() {
    return {
      iconBackground: "bg-gradient-success",
      faHandPointer,
      faUsers,
      faCreditCard,
      faScrewdriverWrench,
      monto_i: 0,
      monto_r: 0,
      monto_c: 0,
      tamaño: 0,
      estado: false,
      idCaja: "",
      i_salida: "fa-arrow-down",
      i_entrada: "fa-arrow-up",
      listaDetalleCaja: [],
      transaccion: "Seleccione transaccion",
      monto_transaccion: "",
      descripcion_transaccion: "",
      fechaActual: this.formatDate(new Date()),
      selectedUser: null,
      fechaInicio: null,
      fechaFin: null,
      users: [],
    };
  },
  mounted() {
    this.$api
      .get("usuario")
      .then((response) => {
        this.users = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
  computed: {
    ...mapState(["token", "id_usuario", "id_caja"]),
    selectedUserName() {
      const selectedUser = this.users.find(
        (user) => user.id === this.selectedUser
      );
      return selectedUser ? selectedUser.nombre_completo : "";
    },
  },
  created() {
    this.listarDetalleCaja();
    this.cargar();
    this.iniciarCaja();
  },
  methods: {
    abrirModal() {
      $("#modalreporte").modal("show");
    },
    submitForm() {
      this.$api
        .get(`reportedetalleCaja/${this.selectedUser}`, {
          params: {
            fecha_inicio: this.fechaInicio,
            fecha_fin: this.fechaFin,
          },
        })
        .then((response) => {
          const cajas = response.data;
          const doc = new jsPDF();

          const user = this.users.find((user) => user.id === this.selectedUser);
          const userFullName = user ? user.nombre_completo : "";

          doc.text(
            `REPORTE INGRESOS - EGRESOS DE FECHA ${this.fechaInicio} a ${this.fechaFin}`,
            10,
            10
          );
          doc.text(`DEL USUARIO ${userFullName}`, 110, 20, { align: "center" });

          cajas.forEach((caja) => {
            const columns = [
              "ID",
              "Monto",
              "Tipo",
              "Fecha Registro",
              "Descripción",
            ];
            const rows = [];
            const detalles = caja.detalles;

            const cajaData = [
              caja.id,
              caja.monto_inicial,
              caja.monto_reserva,
              caja.monto_cierre,
              caja.estado ? "Abierto" : "Cerrado",
              caja.fecha_registro,
            ];

            detalles.forEach((detalle) => {
              const detalleData = [
                detalle.id,
                detalle.monto,
                detalle.tipo,
                detalle.fecha_registro,
                detalle.descripcion ? detalle.descripcion : "",
              ];
              rows.push(detalleData);
            });

            doc.autoTable(
              [
                "ID",
                "Monto Inicial",
                "Monto Reserva",
                "Monto Cierre",
                "Estado",
                "Fecha Registro",
              ],
              [cajaData],
              { margin: { top: 35 } }
            );
            doc.autoTable(columns, rows, {
              startY: doc.autoTableEndPosY() + 10,
              headStyles: { fillColor: [255, 0, 0] }, // Cambiar a azul
            });
          });

          const file = new Blob([doc.output("blob")], {
            type: "application/pdf",
          });
          const fileURL = URL.createObjectURL(file);
          window.open(fileURL);
          this.showModal = false;
          $("#modalreporte").modal("hide");
          const toast = useToast();
          toast.success("Se Genero Exitosamente EL PDF");
        })
        .catch((error) => {
          console.error(error);
        });
    },
    ...mapActions(["status"]),
    async iniciarCaja() {
      const { data } = await this.$api.get("cajainicio");
      this.monto_i = data.monto_cierre;
    },
    async cargar() {
      const { data } = await this.$api.get("caja/" + this.id_usuario);
      if (data) {
        this.idCaja = data.id;
        (this.monto_r = data.monto_reserva),
          (this.monto_c = data.monto_cierre),
          (this.estado = data.estado);
        this.status({ estado: data.estado, id_caja: data.id });
      }
    },
    async abrirCaja() {
      const caja = {
        monto_inicial: this.monto_i,
        monto_reserva: 0,
        monto_cierre: this.monto_c,
        estado: true,
        userId: this.id_usuario,
      };
      try {
        const { data } = await this.$api.post("caja", caja);
        this.status({ estado: true, id_caja: data.id_caja });
        const toast = useToast();
        toast.success(data.msg);
        this.idCaja = data.id_caja;
        this.estado = true;
        this.iniciarCaja();
        this.cargar();
      } catch (error) {
        const toast = useToast();
        toast.error(error.message);
      }
    },
    async CerrarCaja() {
      const caja = {
        monto_reserva: this.monto_r,
        monto_cierre: this.monto_c,
        estado: false,
        userId: this.id_usuario,
      };
      try {
        const { data } = await this.$api.put("caja/" + this.idCaja, caja);
        const toast = useToast();
        toast.success(data.msg);
        this.status({ estado: false, id_caja: data.id_caja });
        this.estado = false;
      } catch (error) {
        const toast = useToast();
        toast.error(error.message);
      }
    },
    async listarDetalleCaja() {
      this.listaDetalleCaja = [];
      const { data } = await this.$api.get("detalleCaja");
      data.forEach((item) => {
        const fechaLegible = new Date(item.fecha_registro).toLocaleDateString();
        var icono = null;
        var color = null;
        if (item.tipo == "egreso") {
          icono = "fa-arrow-down";
          color = "danger";
        } else {
          this.monto_c += item.monto;
          icono = "fa-arrow-up";
          color = "success";
        }
        const detalle = {
          tipo: item.tipo,
          fecha_registro: fechaLegible + " " + item.descripcion,
          monto: "$" + item.monto,
          icon: icono,
          color,
        };
        this.listaDetalleCaja.push(detalle);
      });
    },
    async RegTransaccion() {
      if (
        this.transaccion == "egreso" &&
        this.monto_transaccion > this.monto_c
      ) {
        const toast = useToast();
        toast.error(
          "No puedes retirar un monto exedente al existente actualmente"
        );
      } else {
        const movimiento = {
          monto: this.monto_transaccion,
          descripcion: this.descripcion_transaccion,
          tipo: this.transaccion,
        };

        try {
          const a = await this.$api.post("transaccion", movimiento);
          const detalle = {
            monto: this.monto_transaccion,
            tipo: this.transaccion,
            transaccionId: a.data.transaccion.id,
            descripcion: this.descripcion_transaccion, // Añadir la propiedad descripcion
            cajaId: this.id_caja,
          };
          const { data } = await this.$api.get("caja/" + this.id_usuario);
          var caja = {
            monto_reserva: "",
            monto_cierre: "",
            estado: data.estado,
            userId: data.userId,
          };
          if (this.transaccion == "ingreso") {
            caja.monto_reserva =
              parseFloat(data.monto_reserva) +
              parseFloat(this.monto_transaccion);
            caja.monto_cierre =
              parseFloat(data.monto_cierre) +
              parseFloat(this.monto_transaccion);
            await this.$api.put("caja/" + this.id_caja, caja);
            console.log(caja);
            const res = await this.$api.post("detalleCaja", detalle);
            this.listarDetalleCaja();
            const toast = useToast();
            toast.success(res.data.msg);
          } else {
            caja.monto_reserva =
              parseFloat(data.monto_reserva) -
              parseFloat(this.monto_transaccion);
            caja.monto_cierre =
              parseFloat(data.monto_cierre) -
              parseFloat(this.monto_transaccion);
            await this.$api.put("caja/" + this.id_caja, caja);
            console.log(caja);
            const res = await this.$api.post("detalleCaja", detalle);
            this.listarDetalleCaja();
            const toast = useToast();
            toast.success(res.data.msg);
          }
        } catch (error) {
          const toast = useToast();
          toast.error(error.message);
        }
      }
      this.cargar();
      this.limpiar();
    },
    formatDate(date) {
      const day = date.getDate();
      const month = date.toLocaleString("default", { month: "long" });
      const year = date.getFullYear();
      return `${day} ${month} ${year}`;
    },
    limpiar() {
      this.transaccion = "Seleccione transaccion";
      this.monto_transaccion = "";
      this.descripcion_transaccion = "";
    },
  },
};
</script>
<style>
.aaa {
  overflow-x: auto;
  max-height: 500px !important;
}
.titulo-destacado {
  font-weight: 1px bold;
  font-size: 20px;
  color: #2e2e2e;
}
#totalcard {
  background: linear-gradient(90deg, #cdeef9 0%, #426bff 100%);
}
#totalcard .icon {
  background: #03a9f485;
}
.card-width {
  width: 80%;
}
</style>
