<template>
  <div>
    <input type="file" accept=".pdf" @change="handleFileChange" />
    <canvas ref="signatureCanvas"></canvas>
    <button @click="clearSignature">Limpiar</button>
    <button @click="signPdf">Firmar PDF</button>
  </div>
</template>

<script>
import SignaturePad from "signature_pad";
import axios from "axios";

export default {
  data() {
    return {
      signaturePad: null,
      selectedFile: null,
    };
  },
  mounted() {
    const canvas = this.$refs.signatureCanvas;
    this.signaturePad = new SignaturePad(canvas);
  },
  methods: {
    clearSignature() {
      this.signaturePad.clear();
    },
    async handleFileChange(event) {
      this.selectedFile = event.target.files[0];
    },
    async signPdf() {
      if (!this.selectedFile) {
        console.error("Selecciona un archivo PDF.");
        return;
      }

      const signatureDataUrl = this.signaturePad.toDataURL();
      const formData = new FormData();
      formData.append("pdfFile", this.selectedFile);
      formData.append("signatureDataUrl", signatureDataUrl);

      try {
        const response = await axios.post(
          "http://localhost:7777/api/firmar_pdf",
          formData,
          {
            responseType: "blob",
          }
        );

        // Código para descargar el PDF firmado...
      } catch (error) {
        console.error("Error al firmar el PDF:", error);
      }
    },
  },
};
</script>
