<template>
  <div class="py-4 container-fluid row">
    <div class="card text-center">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          BIENVENIDO A LA SECCION DE ACTIVIDADES DE HOSTAL TUKOS
          <soft-button
            color="dark"
            variant="gradient"
            @click="ingreso"
            v-if="!hora_ingreso && !hora_salida"
          >
            Registrar Ingreso
          </soft-button>
          <soft-button
            color="dark"
            variant="gradient"
            @click="salida"
            v-if="!hora_salida && hora_ingreso && !cajaAbierta"
          >
            Registrar Salida
          </soft-button>
        </div>
        <span v-if="hora_ingreso">Hora de ingreso : {{ hora_ingreso }}</span>
        <br />
        <span v-if="hora_salida">Hora de salida : {{ hora_salida }}</span>
      </div>
      <div class="card-body" v-if="!hora_salida && hora_ingreso">
        <h5 class="card-title">AGREGAR ACTIVIDADES</h5>
        <div class="d-flex justify-content-center">
          <form class="d-flex" @submit.prevent="addTask()">
            <div class="input-group mb-3">
              <input
                v-model="task"
                type="text"
                class="form-control"
                placeholder="Introduzca actividad"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <button class="btn btn-outline-secondary">
                <i class="fas fa-plus me-2"></i>
              </button>
            </div>
          </form>
        </div>
        <h5 class="card-title">LISTA DE ACTIVIDADES</h5>
        <div class="d-flex justify-content-center">
          <ul class="list-group" v-if="tasks.length < 1">
            <li class="list-group-item">No existen actividades registradas</li>
          </ul>
          <ul class="list-group" v-else>
            <li
              class="list-group-item align-items-center d-flex justify-content-between"
              v-for="item in tasks"
              :key="item.id"
            >
              <span class="text">{{ item.descripcion }}</span>
              <span class="btn" @click="removerTodo(item.id)">
                <i class="fa fa-trash-o"></i
              ></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-footer text-muted" v-if="!hora_salida && hora_ingreso">
        <soft-button color="dark" variant="gradient" @click="print">
          <i class="fa fa-print"></i>
          Imprimir detalle
        </soft-button>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="exampleModalLabel">Error</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          No puedes Registrar Tu Salida !! SIN ANTES CERRAR LA CAJA !!
        </div>
        <div class="modal-footer">
          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <b-button
              variant="primary"
              class="btn btn-success"
              @click="irACaja"
            >
              Ir a caja
            </b-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import SoftButton from "@/components/SoftButton.vue";
import { mapState, mapActions } from "vuex";
import { useToast } from "vue-toastification";
import "vue-toastification/dist/index.css";
import axios from "axios";
import $ from "jquery";
import "bootstrap/js/dist/modal";
export default {
  components: {
    SoftButton,
  },
  data() {
    return {
      showModal: false,
      tasks: [],
      task: "",
      hora_ingreso: null,
      hora_salida: null,
      fecha: null,
      hoy: null,
      id_planilla: null,
      cajaUltima: {},
    };
  },
  mounted() {
    axios.get("http://localhost:8888/api/cajasUltima").then((response) => {
      this.cajaUltima = response.data;
    });
  },
  setup() {},
  computed: {
    ...mapState(["id_usuario", "id_asistencia"]),
    filteredTodos() {
      return this.hideCompleted
        ? this.todos.filter((t) => !t.done)
        : this.todos;
    },
  },
  created() {
    this.readAsist();
    this.readTask();
    this.cargarCaja();
  },
  methods: {
    ...mapActions(["marcarAsistencia", "status"]),
    async cargarCaja() {
      const { data } = await this.$api.get("caja/" + this.id_usuario);
      if (data) {
        this.status({ estado: data.estado, id_caja: data.id });
      }
    },
    async readTask() {
      const date = new Date();
      const fecha =
        date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
      this.hoy = fecha;
      try {
        const { data } = await this.$api.get(
          "tarea/" + this.id_usuario + "/" + fecha + "/" + "true"
        );
        this.tasks = data;
      } catch (error) {
        const toast = useToast();
        toast.error(error.message);
      }
    },
    async addTask() {
      if (this.task != "") {
        const newTask = {
          descripcion: this.task,
          estado: true,
          userId: this.id_usuario,
        };
        try {
          const { data } = await this.$api.post("tarea", newTask);
          this.tasks.push(data.tarea);
        } catch (error) {
          const toast = useToast();
          toast.error(error.message);
        }
        this.task = "";
      }
    },
    async removerTodo(id) {
      try {
        await this.$api.put("tarea/" + id, { estado: false });
        this.tasks = this.tasks.filter((t) => t.id !== id);
      } catch (error) {
        const toast = useToast();
        toast.error(error.message);
      }
    },
    print() {
      const toast = useToast();
      toast.success("imprimir");
    },
    async ingreso() {
      const ingreso = await this.marcarAsistencia(this.id_usuario);
      this.hora_ingreso = ingreso.hora_ingreso;
      this.id_planilla = ingreso.id;
    },
    async salida() {
      const response = await axios.get("http://localhost:8888/api/cajasUltima");
      const caja = response.data;
      if (caja.estado) {
        console.log("siiii");
        $("#exampleModal").modal("show");
        return;
      }
      try {
        await this.$api.put("reporte_personal/" + this.id_planilla);
        this.readAsist();
        const toast = useToast();
        toast.success("Se registro su salida exitosamente");
      } catch (error) {
        const toast = useToast();
        toast.error(error.message);
      }
    },
    irACaja() {
      this.$router.push("/caja");
      this.showModal = false;
      $("#exampleModal").modal("hide");
      $("body").addClass("modal-open");
      $(".modal-backdrop").remove();
      $("#exampleModal")
        .off("hidden.bs.modal")
        .on("hidden.bs.modal", function () {
          $("body").removeClass("modal-open");
        });
    },
    async readAsist() {
      const date = new Date();
      const fecha =
        date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
      try {
        const { data } = await this.$api.get(
          "reporte_personal/" + this.id_usuario + "/" + fecha
        );
        if (data.hora_salida) {
          this.hora_ingreso = data.hora_ingreso;
          this.hora_salida = data.hora_salida;
        } else {
          this.id_planilla = data.id;
          this.hora_ingreso = data.hora_ingreso;
        }
      } catch (error) {
        return;
      }
    },
  },
};
</script>
<style>
.btn {
  box-shadow: none !important;
}
.btn:hover:active {
  box-shadow: none !important;
}
</style>
