<template>
  <div class="container-fluid">
    <nav class="navbar mb-3">
      <h6>Filtrar por:</h6>
      <div class="btn-group mt-3">
        <button
          type="button"
          class="btn dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Disponibilidad
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" @click="filtrarCodigo('todo')">Ver todo</a>
          </li>
          <li>
            <a class="dropdown-item" @click="filtrarCodigo('disponible')"
              >Disponibles</a
            >
          </li>
          <li>
            <a class="dropdown-item" @click="filtrarCodigo('limpieza')"
              >En limpieza</a
            >
          </li>
          <li>
            <a class="dropdown-item" @click="filtrarCodigo('mantenimiento')"
              >Mantenimiento</a
            >
          </li>
          <li>
            <a class="dropdown-item" @click="filtrarCodigo('ocupado')"
              >Ocupados</a
            >
          </li>
        </ul>
      </div>
      <div class="btn-group mt-3">
        <button
          type="button"
          class="btn dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Categoria
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" @click="filtrarCodigo('todo')">Ver todo</a>
          </li>
          <li>
            <a
              class="dropdown-item"
              v-for="item in categorias"
              :key="item.id"
              @click="filtrarCodigo(item.id)"
              >{{ item.nombre }}</a
            >
          </li>
        </ul>
      </div>
      <div class="btn-group mt-3">
        <modal-frame />
      </div>
      <div class="col width align-right">
        <form class="d-flex bar" @submit.prevent="filtrarCodigoHab()">
          <input
            id="codigo"
            class="tam form-control me-2"
            type="search"
            placeholder="Codigo habitacion"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </nav>
    <group-hab-card
      @response="
        (data) => {
          if (data) {
            tad = data;
            ListarTodo();
          }
        }
      "
      :ListaHab="ListaHab"
    ></group-hab-card>
  </div>
</template>
<script>
import GroupHabCard from "./components/GroupHabCard.vue";
import ModalFrame from "./components/Modals/ModalFrame.vue";
import { mapState } from "vuex";
export default {
  name: "principal",
  components: {
    GroupHabCard,
    ModalFrame,
  },
  computed: {
    ...mapState(["token", "id_usuario"]),
  },
  data() {
    return {
      categorias: [],
      caracteristicas: [],
      ListaHab: [],
      tad: false,
    };
  },
  created() {
    this.ListarTodo();
    this.ListarTiposHab();
  },
  methods: {
    async ListarTodo() {
      const { data } = await this.$api.get("habitacion");
      this.ListaHab = data;
    },
    async ListarTiposHab() {
      this.categorias = [];
      const { data } = await this.$api.get("tipo_habitacion");
      this.categorias = data;
    },
    async filtrarCodigo(filtro) {
      if (filtro == "todo") {
        const { data } = await this.$api.get("habitacion");
        this.ListaHab = data;
      } else {
        if (!isNaN(filtro)) {
          this.filtro = { tipoId: filtro };
        } else {
          this.filtro = { estado: filtro };
        }
        const { data } = await this.$api.post("habitacionFiltros", this.filtro);
        this.ListaHab = data;
      }
    },
    async filtrarCodigoHab() {
      const codigo = document.getElementById("codigo").value;
      const filtro = {
        codigo_habitacion: codigo,
      };
      const { data } = await this.$api.post("habitacionFiltros", filtro);
      this.ListaHab = data;
    },
  },
};
</script>
<style>
.navbar {
  justify-content: left !important;
}
.btn-group {
  padding-left: 5px;
}
.btn {
  border-radius: 0;
}
.bar {
  justify-content: flex-end;
  align-items: center;
}
.tam {
  height: 45px;
  display: flex;
  width: auto !important;
}
.btn {
  margin-bottom: 0 !important;
}
</style>
