<template>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <DataTable
        :data="personas"
        :columns="columns"
        class="table table-striped table-bordered display"
      >
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Acciones</th>
          </tr>
        </thead>
      </DataTable>
    </div>
  </div>
  <div>
    <label for="fruits">Elige una fruta:</label>
    <vue-select v-model="selectedFruit" :options="fruits"></vue-select>
    <p>Fruta seleccionada: {{ selectedFruit }}</p>
  </div>
</template>

<script>
import DataTable from "datatables.net-vue3";
import DataTableLib from "datatables.net-bs5";
import axios from "axios";
import VueSelect from "vue-select";
import "vue-select/dist/vue-select.css"; // Importa los estilos de vue-select
import { useToast } from "vue-toastification";
import "vue-toastification/dist/index.css";
DataTable.use(DataTableLib);

export default {
  components: {
    DataTable,
    VueSelect,
  },
  data() {
    return {
      personas: null,
      columns: [
        { data: "id" },
        { data: "nombres" },
        {
          data: null,
          className: "text-center",
          render: function (data, type, row) {
            return `<button class="btn btn-primary btn-sm" onclick="edit(${row.id})">Editar</button>`;
          },
        },
      ],
      selectedFruit: null,
      fruits: [
        { label: "Manzana", value: "manzana" },
        { label: "Banana", value: "banana" },
        { label: "Naranja", value: "naranja" },
        { label: "Piña", value: "piña" },
      ],
    };
  },
  methods: {
    getpersonas() {
      axios.get("http://localhost:7777/api/persona").then((response) => {
        this.personas = response.data;
      });
    },
  },
  mounted() {
    this.getpersonas();
    // Agregamos la función edit a la ventana global
    window.edit = (id) => {
      const toast = useToast();
      toast.success(`Editar registro con id ${id}`);
    };
  },
};
</script>
