<template>
  <div class="py-4 container-fluid">
    <div class="row width-auto">
      <modal-add-persona
        @response="
          (data) => {
            if (data) {
              listarPersona();
            }
          }
        "
        :listaPaises="lista_pais"
        class="md mb-3"
      />
    </div>
    <div>
      <div class="row col-12">
        <authors-table
          @persona="
            (data) => {
              if (data) {
                listarPersona();
              }
            }
          "
          :listaPersonas="lista_persona"
          :listaPaises="lista_pais"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ModalAddPersona from "./components/Modals/ModalAddPersona.vue";
import AuthorsTable from "./components/AuthorsTable";

export default {
  name: "SignupBasic",
  components: {
    //Navbar,
    //SoftInput,
    //SoftButton,
    ModalAddPersona,
    AuthorsTable,
  },
  data() {
    return {
      lista_pais: [],
      lista_persona: [],
    };
  },
  created() {
    this.listarPersona();
    this.listarPais();
  },
  methods: {
    async listarPais() {
      const { data } = await this.$api.get("pais");
      this.lista_pais = data;
    },
    async listarPersona() {
      const { data } = await this.$api.get("persona");
      this.lista_persona = data;
    },
  },
};
</script>
<style>
.md {
  width: auto !important;
}
</style>
