<template>
  <div class="py-4 container-fluid">
    <div class="row width-auto">
      <modal-tipo-habitacion
        @response="
          (data) => {
            if (data) {
              update();
            }
          }
        "
        class="md mb-3"
      />
    </div>
    <div class="row">
      <habitacion-card
        @response="
          (data) => {
            if (data) {
              listhab();
            }
          }
        "
        :activo="listaAct"
        :lista="lista_hab"
      />
    </div>
    <div class="row">
      <div class="col-lg-2 col-sm-6 mb-lg-0 mb-4 space">
        <div class="card hg">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-lg-12">
                <div class="d-flex flex-column h-100">
                  <modal-add-habitacion
                    @response="
                      (data) => {
                        if (data) {
                          listhab();
                        }
                      }
                    "
                    :tipo_hab="tp"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ModalAddHabitacion from "./components/Modals/ModalAddHabitacion.vue";
import ModalTipoHabitacion from "./components/Modals/ModalTipoHabitacion.vue";
import HabitacionCard from "./components/HabitacionCard.vue";
export default {
  name: "SignupBasic",
  components: {
    ModalAddHabitacion,
    ModalTipoHabitacion,
    HabitacionCard,
  },
  data() {
    return {
      tp: [],
      lista_hab: [],
      listaAct: [],
    };
  },
  created() {
    this.update(), this.listhab();
    this.listaActivo();
  },
  methods: {
    async update() {
      const { data } = await this.$api.get("tipo_habitacion");
      this.tp = data;
    },
    async listhab() {
      const { data } = await this.$api.get("habitacion");
      this.lista_hab = data;
    },
    async listaActivo() {
      const { data } = await this.$api.get("activo");
      this.listaAct = data;
    },
  },
};
</script>
