<template>
  <div class="py-4 container-fluid">
    <div class="row width-auto">
      <modal-add-activo
        @activo="
          (data) => {
            if (data) {
              listaActivos.push(data);
            }
          }
        "
        class="md mb-3"
      />
      <modal-add-producto
        @producto="
          (data) => {
            if (data) {
              listaProductos.push(data);
            }
          }
        "
        class="md mb-3"
      />
    </div>
    <div class="row altura">
      <span>Activos</span>
      <div class="col-3 mb-3" v-for="item in listaActivos" :key="item.id">
        <default-info-card
          :item="item"
          @act="
            (data) => {
              if (data) {
                cargarActivos();
              }
            }
          "
        />
      </div>
    </div>
    <div class="row altura">
      <span>Productos</span>
      <div class="col-3 mb-3" v-for="item in listaProductos" :key="item.id">
        <producto-info-card
          :item="item"
          @act="
            (data) => {
              if (data) {
                cargarProductos();
              }
            }
          "
        />
      </div>
    </div>
  </div>
</template>
<script>
import ModalAddActivo from "./components/Modals/ModalAddActivo.vue";
import DefaultInfoCard from "@/examples/Cards/DefaultInfoCard.vue";
import ModalAddProducto from "./components/Modals/ModalAddProductos.vue";
import ProductoInfoCard from "./components/ProductoInfoCard.vue";
export default {
  name: "registroActivos",
  components: {
    ModalAddActivo,
    ModalAddProducto,
    DefaultInfoCard,
    ProductoInfoCard,
  },
  data() {
    return {
      listaActivos: [],
      listaProductos: [],
    };
  },

  created() {
    this.cargarActivos();
    this.cargarProductos();
  },
  methods: {
    async cargarActivos() {
      const { data } = await this.$api.get("activo");
      this.listaActivos = data;
    },
    async cargarProductos() {
      const { data } = await this.$api.get("producto");
      this.listaProductos = data;
    },
  },
};
</script>
<style>
.altura {
  max-height: 600px !important;
  overflow-x: auto;
}
</style>
