<template>
  <div class="py-4 container-fluid">
    <div class="mb-3 row">
      <modal-add-menu
        class="mb-3 width-auto"
        @menu="
          (data) => {
            if (data) {
              listaMenu.push(data);
            }
          }
        "
      />
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-6">
        <div class="card border-info mb-3" style="width: 100%">
          <div class="card-body">
            <div class="row">
              <h5 class="card-title text-center">Detalle de ventas</h5>
              <div class="table-responsive p-0 col-lg-8">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr class="text-center">
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Productos
                      </th>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Cantidad
                      </th>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Precio
                      </th>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Descuento
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      class="text-center"
                      v-for="item in itemsVenta"
                      :key="item.id"
                    >
                      <td>
                        <p class="text-xs font-weight-bold mb-0">
                          {{ item.nombre }}
                        </p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">
                          {{ item.cantidad }}
                        </p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">
                          {{ item.precio }}
                        </p>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">
                          {{ item.precio_descuento }}
                        </p>
                      </td>
                      <td>
                        <span class="btn" @click="removerTodo(item.nombre)">
                          <i class="fa fa-trash-o"></i
                        ></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-lg-4">
                <span>Precio Total $</span> <br />
                <span class="display-4">{{ sumatoria }}</span
                ><br />
                <span>Descuento Total $</span> <br />
                <span class="display-4">{{ descuento }}</span
                ><br />
                <span>Total a pagar $</span> <br />
                <span class="display-4">{{ sumatoria - descuento }}</span>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-evenly">
            <soft-button
              color="dark"
              variant="gradient"
              @click="itemsVenta = []"
            >
              Limpiar registro</soft-button
            >
            <soft-button
              color="dark"
              variant="gradient"
              @click="registrarVenta()"
              v-if="estado_caja"
            >
              Regsitrar Venta</soft-button
            >
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-6">
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-2 g-4 ajust mb-3"
        >
          <div class="col" v-for="item in listaMenu" :key="item.id">
            <div class="card h-100">
              <img :src="item.imagen" class="card-img-top aae" alt="..." />
              <div
                class="btnn justify-content-center d-flex align-items-center"
                @click="agregarMenu(item)"
              >
                <i class="fa fa-shopping-cart"></i>
              </div>
              <menu-edit
                @menu="
                  (data) => {
                    if (data) {
                      listarMenu();
                    }
                  }
                "
                :item="item"
                class="mb-3 width-auto edit"
              />
              <div class="card-body">
                <h5 class="card-title">{{ item.producto }}</h5>
                <p class="card-text">{{ item.descripcion }}</p>
              </div>
              <div class="card-footer">
                <span
                  class="card-text text-danger"
                  v-if="item.precio_descuento"
                >
                  <del> {{ item.precio_cu }} Bs.</del></span
                >
                <span class="card-text text-success" v-else
                  >{{ item.precio_cu }} Bs.</span
                >
                <span
                  class="card-text text-success"
                  v-if="item.precio_descuento"
                >
                  {{ item.precio_cu - item.precio_descuento }} Bs.</span
                >
                <br />
                <div class="form-check form-switch">
                  <input
                    @change="change(item.id, item.estado)"
                    class="form-check-input"
                    type="checkbox"
                    id="flexSwitchCheckDefault"
                    v-model="item.estado"
                  />
                  <label
                    class="form-check-label text-success"
                    for="flexSwitchCheckDefault"
                    v-if="item.estado"
                    >Disponible</label
                  >
                  <label
                    class="form-check-label text-danger"
                    for="flexSwitchCheckDefault"
                    v-else
                    >Agotado</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 ajust">
          <div class="col" v-for="item in listaProductos" :key="item.id">
            <div class="card h-100">
              <img :src="item.imagen" class="card-img-top aae" alt="..." />
              <div
                class="btnn justify-content-center d-flex align-items-center"
                @click="agregarProducto(item)"
              >
                <i class="fa fa-shopping-cart"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ item.nombre }}</h5>
                <p class="card-text">{{ item.descripcion }}</p>
              </div>
              <div class="card-footer">
                <span class="card-text text-danger" v-if="item.precio_descuento"
                  ><del>{{ item.precio }} Bs.</del>
                </span>
                <span class="card-text text-success" v-else
                  >{{ item.precio }} Bs.</span
                >
                <span
                  class="card-text text-success"
                  v-if="item.precio_descuento"
                >
                  {{ item.precio - item.precio_descuento }} Bs.</span
                >
                <br />
                <span class="card-text">{{ item.cantidad }} Unidades</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ModalAddMenu from "./components/Modals/ModalAddMenu.vue";
import MenuEdit from "./components/UpdatesInfo/UpdateMenu.vue";
import SoftButton from "@/components/SoftButton.vue";
import { mapState } from "vuex";
import { useToast } from "vue-toastification";
import "vue-toastification/dist/index.css";
export default {
  components: {
    ModalAddMenu,
    MenuEdit,
    SoftButton,
  },
  computed: {
    ...mapState(["id_usuario", "id_caja", "estado_caja"]),
    sumatoria() {
      var suma = 0;
      this.itemsVenta.forEach((e) => {
        suma += parseFloat(e.precio);
      });
      return suma;
    },
    descuento() {
      var suma = 0;
      this.itemsVenta.forEach((e) => {
        suma += parseFloat(e.precio_descuento);
      });
      return suma;
    },
  },
  data() {
    return {
      listaMenu: [],
      listaProductos: [],
      itemsVenta: [],
    };
  },
  created() {
    this.listarMenu(), this.listarProductos();
  },
  methods: {
    async AgregarCaja(pago, id) {
      const { data } = await this.$api.get("caja/" + this.id_usuario);
      const caja = {
        monto_reserva: parseFloat(data.monto_reserva) + parseFloat(pago),
        monto_cierre: parseFloat(data.monto_cierre) + parseFloat(pago),
        estado: data.estado,
        userId: data.userId,
      };
      try {
        const detalle = {
          monto: pago,
          tipo: "ingreso",
          VentaId: id,
          cajaId: this.id_caja,
        };
        console.log(detalle);
        await this.$api.post("detalleCaja", detalle);
        await this.$api.put("caja/" + this.id_caja, caja);
        this.itemsVenta = [];
      } catch (error) {
        const toast = useToast();
        toast.error(error.message);
      }
    },
    removerTodo(nombre) {
      const Objeto = this.itemsVenta.find((t) => t.nombre === nombre);
      if (Objeto.cantidad > 1) {
        this.itemsVenta.forEach((element) => {
          if (element.nombre === Objeto.nombre) {
            const resta_precio = element.precio / element.cantidad;
            const resta_desc = element.precio_descuento / element.cantidad;
            element.cantidad = element.cantidad - 1;
            element.precio = resta_precio * element.cantidad;
            element.precio_descuento = resta_desc * element.cantidad;
          }
        });
      } else {
        this.itemsVenta = this.itemsVenta.filter(
          (t) => t.nombre !== Objeto.nombre
        );
      }
    },
    async listarMenu() {
      const { data } = await this.$api.get("menu");
      this.listaMenu = data;
    },
    async listarProductos() {
      const { data } = await this.$api.get("producto");
      this.listaProductos = data;
    },
    agregarMenu(item) {
      const menu = {
        menuId: item.id,
        nombre: item.producto,
        cantidad: 1,
        precio: item.precio_cu,
        precio_descuento: item.precio_descuento,
      };
      if (this.itemsVenta.find((t) => t.nombre === item.producto)) {
        this.itemsVenta.forEach((element) => {
          if (element.nombre === item.producto) {
            element.cantidad = element.cantidad + 1;
            element.precio = element.precio + item.precio_cu;
            element.precio_descuento =
              element.precio_descuento + item.precio_descuento;
          }
        });
      } else {
        this.itemsVenta.push(menu);
      }
    },
    agregarProducto(item) {
      const producto = {
        productoId: item.id,
        nombre: item.nombre,
        cantidad: 1,
        precio: item.precio,
        precio_descuento: item.precio_descuento,
      };
      if (this.itemsVenta.find((t) => t.nombre === item.nombre)) {
        this.itemsVenta.forEach((element) => {
          if (element.nombre === item.nombre) {
            element.cantidad = element.cantidad + 1;
            element.precio = element.precio + item.precio;
            element.precio_descuento =
              element.precio_descuento + item.precio_descuento;
          }
        });
      } else {
        this.itemsVenta.push(producto);
      }
    },
    async registrarVenta() {
      const venta = {
        precio_total: this.sumatoria,
        descuento_total: this.descuento,
      };
      try {
        const { data } = await this.$api.post("ventas", venta);
        this.registrarDetalle(data.venta.id);
        this.AgregarCaja(this.sumatoria - this.descuento, data.venta.id);
      } catch (error) {
        const toast = useToast();
        toast.error(error.message);
      }
    },
    async registrarDetalle(id) {
      this.itemsVenta.forEach(async (element) => {
        if (element.menuId) {
          const detalle = {
            cantidad: element.cantidad,
            precio: element.precio,
            descuento: element.precio_descuento,
            menuId: element.menuId,
            VentaId: id,
          };
          await this.$api.post("detalle_menu", detalle);
        }
        if (element.productoId) {
          const detalle = {
            cantidad: element.cantidad,
            precio: element.precio,
            descuento: element.precio_descuento,
            productoId: element.productoId,
            VentaId: id,
          };
          await this.$api.post("detalle_menu", detalle);
          this.actualizarProducto(element.productoId, element.cantidad);
        }
      });
    },
    async actualizarProducto(id, cantidad) {
      try {
        var { data } = await this.$api.get("producto/" + id);
        data.cantidad = data.cantidad - cantidad;

        await this.$api.put("producto/" + id, data);
        this.listarProductos();
        const toast = useToast();
        toast.success("Registro existoso");
        this.itemsVenta = [];
      } catch (error) {
        return;
      }
    },
    async change(id, estado) {
      const status = {
        estado,
      };
      try {
        await this.$api.put("menu/" + id, status);
      } catch (error) {
        return;
      }
    },
  },
};
</script>
<style>
.aae {
  height: 150px !important;
}
.btnn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgb(215, 216, 203);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
}
.btnn:hover {
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}
.width-auto {
  width: auto !important;
}
.edit {
  position: absolute;
  bottom: 50px;
  right: 0px;
  background-color: rgb(215, 216, 203);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
}
</style>
