<template>
  <main class="mt-0 main-content main-content-bg">
    <section style="background-color: #c2c0c6">
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="mx-auto col-xl-4 col-lg-5 col-md-6 d-flex flex-column">
              <div class="mt-6 card card-plain">
                <div
                  class="pb-0 card-header text-start"
                  style="background-color: #c2c0c6"
                >
                  <h2
                    style="
                      color: #a4524b;
                      font-family: 'Brush Script MT', cursive;
                    "
                  >
                    Bienvenido al Hostal Tukos
                  </h2>
                </div>
                <div class="card-body">
                  <form @submit.prevent="change()" class="text-start">
                    <i class="fa fa-user me-sm-1" aria-hidden="true"></i>
                    <label>Usuario</label>
                    <soft-input
                      id="user"
                      type="email"
                      placeholder="Usuario"
                      name="email"
                    />
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <label>Password</label>
                    <soft-input
                      id="password"
                      type="password"
                      placeholder="Contraseña"
                      name="password"
                    />
                    <div class="text-center">
                      <soft-button
                        class="my-4 mb-2"
                        full-width
                        style="background-color: #a4524b"
                      >
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        INGRESAR
                      </soft-button>
                    </div>
                  </form>
                </div>
                <!--<div class="px-1 pt-0 text-center card-footer px-lg-2">
                  <p class="mx-auto mb-4 text-sm">
                    ¿No tienes credenciales?
                    <router-link
                      :to="{ name: 'Sign Up' }"
                      class="text-success text-gradient font-weight-bold"
                      >Registrate!</router-link
                    >
                  </p>
                </div>-->
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="top-0 oblique position-absolute h-100 d-md-block d-none me-n8"
              >
                <div
                  class="bg-cover oblique-image position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                  :style="{
                    backgroundImage:
                      'url(' +
                      require('@/assets/img/curved-images/tukos.jpg') +
                      ')',
                  }"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>
<script>
//import AppFooter from "@/examples/PageLayout/Footer.vue";
import SoftInput from "@/components/SoftInput.vue";
import SoftButton from "@/components/SoftButton.vue";
const body = document.getElementsByTagName("body")[0];
import { mapMutations, mapActions } from "vuex";
import "vue-router";
export default {
  name: "SignIn",
  components: {
    //AppFooter,
    SoftInput,
    SoftButton,
  },
  data() {
    return {
      usuario: {
        email: "",
        password: "",
      },
      estado: false,
    };
  },
  created() {
    this.toggleEveryDisplay();
    this.toggleHideConfig();
    body.classList.remove("bg-gray-100");
  },
  beforeUnmount() {
    this.toggleEveryDisplay();
    this.toggleHideConfig();
    body.classList.add("bg-gray-100");
  },
  methods: {
    ...mapMutations(["toggleEveryDisplay", "toggleHideConfig"]),
    ...mapActions(["login"]),
    async change() {
      this.usuario.email = document.getElementById("user").value;
      this.usuario.password = document.getElementById("password").value;
      console.log(this.usuario);
      const res = await this.login(this.usuario);
      if (res == null) {
        this.$router.push({ path: "/principal" });
      }
    },
  },
};
</script>
