<template>
    <div class="card-body px-0 pt-0 pb-2 ajusts">
        <h5>Registro de ingreso y salida</h5>
        <div class="container" >
            <input class="form-control auto" @change="Buscar" v-model="fecha" type="date">
            <a 
                class="text-secondary font-weight-bold text-xs"
                type="button" @click="GenerarPlanilla()">
                <i class="fa fa-print me-2" aria-hidden="true"></i>
                imprimir planilla</a>
        </div>
        <div class="table-responsive p-0 text-center">
            <table id="table" class="table align-items-center mb-0">
                    <thead>
                        <tr>
                        <th
                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                            Personal
                        </th>
                        <th
                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                        >
                            Cedula de identidad
                        </th>
                        <th
                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                        >
                            Hora ingreso
                        </th>
                        <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                            Hora salida
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="asist.length==0"><h5 class="text-center">No existe ningun registro</h5></tr>
                        <tr v-for="item in asist" :key="item.id" >
                        <td>
                            <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm"></h6>
                                <p class="text-xs text-secondary mb-0">
                                    {{nombre(item.userId)}}
                                </p>
                            </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">{{ci(item.userId)}}</p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">{{item.hora_ingreso}}</p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">{{item.hora_salida}}</p>
                        </td>

                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold"
                            ></span
                            >
                        </td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</template>
<script>
import { jsPDF } from "jspdf";
import 'jspdf-autotable'
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
export default {
    name: "attendance",
    components:{
    },  
    props:{
    },
    data(){
        return{
            asist:[],
            users:[],
            fecha:Date.now()
        }
    },
    created(){
        this.ListarAsistencia()
        this.ListaUsuarios()
    },
    computed:{
    },
    methods:{
        async Buscar(){
                const {data} = await this.$api.get("reporte_personal")
                const filtro = data.filter(item=>item.fecha === this.fecha)
                this.asist = filtro
        },
        async ListarAsistencia(){
            try {
                const date = new Date()
                const year = date.getFullYear()
                const month = date.getMonth()+1
                var day = date.getDate()
                if(day.toString().length==1){
                    day = "0"+day.toString()
                }
                this.fecha = year+"-"+month+"-"+day
                const {data} = await this.$api.get("reporte_personal")
                const filtro = data.filter(item=>item.fecha === this.fecha)
                this.asist = filtro
            } catch (error) {
                return
            }
        },
        async ListaUsuarios(){
            const {data} = await this.$api.get("usuario")
            this.users = data
        },
         nombre(id){
        try {
            const user =  this.users.filter(item => item.id===id)
            return user[0].nombre_completo
        } catch (error) {
            return
        }
            
        },
        ci(id){
            try {
                const user = this.users.filter(item => item.id===id)
                return user[0].ci    
            } catch (error) {
                return   
            }
        },
        GenerarPlanilla(){
            if(this.asist.length==0){
                const toast = useToast();
                toast.error(("No existe registro para imprimir"));
            }else
            {
                var doc = new jsPDF()
                doc.setFontSize(12)
                doc.text("Planilla de asistencia",110,25,{align: "center"})
                doc.text("Fecha "+this.fecha,110,30,{align: "center"})

                doc.autoTable({ theme: 'grid',html: '#table',margin:{ top: 35 },columnStyles: { 0: { halign: 'center'} }})
                
                doc.output('dataurlnewwindow',{filename:"Boletin.pdf"});
            }
        }
    },
}
</script>
<style>
.ajusts{
    max-height: 500px !important;
}
.auto{
    width: auto !important;
}
</style>