<template>
  <div class="card mb-4">
    <div class="card-header pb-0">
      <h6>Lista de {{text}}</h6>
      <div class="mb-3 row">
        <div class="padding ajust" hidden>
          <select @change="listar" v-model="text" id="lista" class="form-select" aria-label="Seleccionar estado">
          <option value="persona">Persona</option>
          <option value="pais">Paises</option>
        </select>
        </div>
      </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2" v-if="text==='persona'">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Persona
              </th>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
              >
                 Nacionalidad
              </th>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
              >
                Identificador
              </th>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
              >
                Genero
              </th>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
              >
                Direccion
              </th>
              <th
                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Fecha de registro
              </th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="persona in listaPersonas" :key="persona.id">
              <td>
                <div class="d-flex px-2 py-1">
                  <div>
                    <soft-avatar
                      :img="persona.foto"
                      size="sm"
                      border-radius="lg"
                      class="me-3"
                      alt="user1"
                    />
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{persona.nombres}}</h6>
                    <p class="text-xs text-secondary mb-0">
                      {{persona.apellidoP}} {{persona.apellidoM}}
                    </p>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-xs text-secondary mb-0">{{persona.nacionalidad}}</p>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0">{{persona.ci_dni}}</p>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0">{{persona.genero}}</p>
                <p class="text-xs text-secondary mb-0">{{persona.estado_civil}}</p>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0">{{persona.direccion}}</p>
                <p class="text-xs text-secondary mb-0">Zona {{persona.zona}}</p>
              </td>
              <td class="align-middle text-center">
                <span class="text-secondary text-xs font-weight-bold"
                  >{{persona.fecha_registro}}</span
                >
              </td>
              <td class="align-middle">
                <update-persona @response="(data)=>{if(data){send()}}" :listaPaises="listaPaises" :persona="persona"/>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2" v-if='text==="pais"'>
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
              >
                Pais
              </th>
              <th
                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
              >
                abreviado
              </th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in listaPaises" :key="item.id">
              <td>
                <div class="d-flex px-2 py-1">
                  <div>
                    <soft-avatar
                      :img="item.img"
                      size="sm"
                      class="me-3"
                      alt="user1"
                    />
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{item.pais}}</h6>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0">{{item.abreviado}}</p>
              </td>
              <td class="align-middle">
                <a href="javascript:;" 
                  class="btn btn-sm btn-outline-secondary" 
                  data-toggle="tooltip" 
                  data-original-title="Editar usuario">
                  Editar
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import SoftAvatar from "@/components/SoftAvatar.vue";
import UpdatePersona from "./UpdatesInfo/UpdatePersona.vue"

export default {
  name: "authors-table",
  data() {
    return {
      text: "persona",
    };
  },
  components: {
    SoftAvatar,
    UpdatePersona,
  },
  props:{
    listaPersonas:Array,
    listaPaises:Array
  },
  methods:{
    send(){
      this.$emit("persona",true)
    }
  }
};
</script>
