<template>
    <div>
      <soft-button color="dark" variant="gradient" data-bs-toggle="modal" data-bs-target="#modalFirma">
        <i class="fas fa-plus me-2"></i>
          Agregar Firma
      </soft-button>

      <div class="modal fade" id="modalFirma" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center " color="dark" variant="gradient">
              <h5 class="modal-title text-white">
                Registro de turno
              </h5>
              <button @click="limpiar()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form id="formKey" role="form"  @submit.prevent="RegistroRol()">
                  <div class="mb-3">
                    <label for="formFileSm" class="form-label">Seleccionar llave p12</label>
                    <input @change="onSelectKey" class="form-control form-control-sm" id="formFileKey" type="file" accept=".p12">
                  </div>
                  <div class="text-center">
                    <soft-button
                      color="dark"
                      full-width
                      variant="gradient"
                      class="my-2 mb-2"
                      >Cambiar llave firmado</soft-button
                    >
                  </div>
                </form>
                <form id="formValidate" role="form"  @submit.prevent="validar()">
                  <div class="mb-3">
                    <label for="formFileSm" class="form-label">Seleccionar documento a validar</label>
                    <input @change="onSelectpdfValidate" class="form-control form-control-sm" id="formFileValidate" type="file" accept=".pdf">
                  </div>
                  <div class="text-center">
                    <soft-button
                      color="dark"
                      full-width
                      variant="gradient"
                      class="my-2 mb-2"
                      >vALIDAR FIRMA</soft-button
                    >
                  </div>
                </form>
                <form id="formfirma" role="form"  @submit.prevent="Firmar()">
                  <div class="mb-3">
                    <label for="formFileSm" class="form-label">Seleccionar pdf a firmar</label>
                    <input @change="onSelectPDF" class="form-control form-control-sm" id="formFilepdf" type="file" accept=".pdf">
                  </div>
                  <div class="text-center">
                    <soft-button
                      color="dark"
                      full-width
                      variant="gradient"
                      class="my-2 mb-2"
                      >Firmar documento</soft-button
                    >
                  </div>
                </form>
                <div class="text-center" v-if="FirmadoFile">
                    <a href="" @click="download()">Descargar pdf firmado</a>
                  </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import SoftButton from "@/components/SoftButton.vue";
import { useToast } from 'vue-toastification';
import 'vue-toastification/dist/index.css';
export default{
  name: "ModalFirma",
  data() {
    return {
        file:null,
        key: null,
        validate: null,
        FirmadoFile: null
    };
  },
  components: {
    SoftButton,
  },
  methods:{
    onSelectKey(event){
        var input = event.target;
        this.key = input.files[0]
    },
    onSelectpdfValidate(event){
        var input = event.target;
        this.validate = input.files[0]
    },
    onSelectPDF(event){
            var input = event.target;
            this.file = input.files[0]
    },
    async Firmar(){                   
        const file = {files: this.file}
        try {
            const {data} = await this.$firma.post("firmar",file,{responseType: "blob"},)
            this.FirmadoFile =  data
        } catch (error) {
            console.log(error.message)
        }
    },
    async validar(){                   
        const file = {files: this.validate}
        try {
            const {data} = await this.$firma.post("validar",file)            
            const toast = useToast();
            toast.success(data.msg);
        } catch (error) {
            console.log(error.message)
        }
    },
    async CargarKey(){                   
        const file = {files: this.key}
        try {
            const {data} = await this.$firma.post("key",file)            
          const toast = useToast();
          toast.success(data.msg);
        } catch (error) {
            console.log(error.message)
        }
    },
    download(){
        const url = window.URL.createObjectURL(new Blob([this.FirmadoFile]))
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', "firmado.pdf")
        document.body.appendChild(link)
        link.click()
    },
    limpiar(){
        let form1 = document.getElementById("formKey")
        let form2 = document.getElementById("formValidate")
        let form3 = document.getElementById("formfirma")
        form1.reset()
        form2.reset()
        form3.reset()
        this.file=null
        this.key= null
        this.validate= null
        this.FirmadoFile= null
    },
  }
}
</script>