<template>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col" v-for="item in ListaHab" :key="item.id">
    <div class="card h-100">
      <img :src="item.imagenes[0]" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.codigo_habitacion}}</h5>
        <p class="card-text">{{item.descripcion}}</p>
        <div class="container">
          <span v-for="car in item.caracteristicas" :key="car.id">{{car}}</span>
        </div>
      </div>
      <div class="row" v-if="estado_caja">
        <modal-reserva @response="(data)=>{if(data){res=data;enviar()}}" v-if="item.estado =='disponible'" :habitacion="item" class="col d-flex justify-content-center" />
        <detalle-reserva @response="(data)=>{if(data){enviar()}}" :habitacion="item" v-else-if="item.estado =='Ocupado'" class="col d-flex justify-content-center" />
          <div class="dissable" v-else>
            <h6>Habitaciones no disponibles</h6>
          </div>
      </div>
      <div class="dissable" v-else>
        <h6>Habilite una caja para registrar reservas</h6>
      </div>
      <div class="card-footer">
        <small class="text-muted">Precio por noche :{{item.precio_noche}}Bs </small><br>
        <small class="text-muted">{{item.estado}} </small>
      </div>
    </div>
  </div>
</div>
</template>
<script>
import ModalReserva from "./Modals/ModalReserva.vue"
import DetalleReserva from "./Modals/ModalDetallereserva.vue"
import {mapState} from "vuex"
export default {
  name: "GroupHabCard",
  components:{
    ModalReserva,
    DetalleReserva
  },
  props:{
    ListaHab:null,
  },
  computed:{
    ...mapState(["id_caja","estado_caja"]),
  },
  data(){
    return{
      ListaRepSaldo:[],
      res: false
    }
  },
  methods:{
    async ListarReportes(){
      const {data} = await this.$api.get("reporte_reserva")
      data.forEach(element => {
        if(element.estado)
          this.ListaRepSaldo.push(element)
      });
    },
    enviar(){
      console.log("asd")
      this.$emit("response",true)
    }
  }
}
</script>
<style>
.dissable{
  text-align: center;
  background-color: rgba(160, 33, 33, 0.753);
}
</style>