<template>
    <div class="row">
      <div class="col-lg-6 col-sm-6 mb-lg-0 mb-4 space" v-for="item in lista" :key="item.id">
        <div class="card hg">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-lg-6">
                <div class="d-flex flex-column h-100">
                  <p class="mb-1 pt-2 text-bold">{{item.codigo_habitacion}}</p>
                  <h6 class="">{{item.descripcion}}</h6>
                  <h6 class="">{{item.estado}}</h6>
                  <div class="container-fluid caract">
                    <span v-for="it in item.caracteristicas" :key="it.id">{{it}} </span>
                  </div >                  
                  <modal-hab-update @response="(data)=>{if(data){send()}}" :activo="activo" :habitacion="item"/>
                </div>
              </div>
              <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                <div class=" border-radius-lg h-100">
                  <img
                    :src="item.imagenes[0]"
                    class=" opacity position-absolute h-100 w-40 top-0 d-lg-block d-none"
                    alt="waves"
                  />
                  <div
                    class="position-relative d-flex align-items-center justify-content-center h-100"
                  >
                    <img
                      class="w-100 position-relative z-index-2 pt-4"
                      :src="item.imagenes[0]"
                      alt="rocket"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import ModalHabUpdate from "./UpdatesInfo/UpdateHabitacion.vue"
export default {
    name: "habitacion-card",
    components:{
      ModalHabUpdate
    },
    props:{
      lista: Array,
      activo: Array
    },
    methods:{
      send(){
        this.$emit("response",true)
      }
    }
}
</script>
<style>
.space{
    padding-top: 10px;
}
.opacity{
  opacity: 50%;
}
.caract{
  height: 80px;
  overflow-x: visible;
}
.hg{
  height: 100% !important;
}
</style>