<template>
    <div class="row width-auto">
        <modal-nuevo-usuario 
        @usuario="(data)=>$emit('usuarios',data)"
        :ArrayTurnos="ArrayTurnos"
        :ArrayRoles="ArrayRoles"
        :labelBtn ="labelBtn"
         class="md mb-3"/>
        <modal-turno @turno="(data)=>$emit('turnos',data)"  class="md mb-3"/>
        <modal-rol @rol="(data)=>$emit('roles',data)" class="md mb-3"/>
        <modal-firma class="md mb-3"/>
    </div>
</template>
<script>
import ModalNuevoUsuario from "./Modals/ModalNuevoUsuario.vue"
import ModalTurno from "./Modals/ModalTurnos.vue"
import ModalRol from "./Modals/ModalRol.vue"
import ModalFirma from "./Firma.vue"

export default {
    name:"MenuPersonal",
    components:{
        ModalNuevoUsuario,
        ModalTurno,
        ModalRol,
        ModalFirma
    },
    props:{
        ArrayRoles: Array(Object),
        ArrayTurnos: Array(Object)
    },
    data(){
        return{
            info:null,
            labelBtn:"Crear nuevo usuario"
        }
    },
}
</script>
<style>

</style>