<template>
    <div class="card-body px-0 pt-0 pb-2 ajusts">
        <h5 class="text-center">NOVEDADES</h5>
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
                    <thead class="text-center">
                        <tr>
                        <th
                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                            Usuario
                        </th>
                        <th
                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                        >
                            CI
                        </th>
                        <th
                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                        >
                            Rol
                        </th>
                        <th
                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                        >
                            Descripcion
                        </th>
                        <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                        <tbody class="text-center">
                        <tr v-for="item in tareas" :key="item.id">
                        <td>
                            <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{getNombre(item.id)}}</h6>
                                <p class="text-xs text-secondary mb-0">
                                {{getEmail(item.id)}} 
                                </p>
                            </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">{{getCi(item.id)}}</p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">{{item.id}}</p>
                        </td>

                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold"
                            >{{item.descripcion}}</span
                            >
                        </td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</template>
<script>
export default {
    name: "Novedades",
    components:{
    },  
    props:{
        usuarios: Array,
        tareas: Array
    },
    data(){
        return{
        }
    },
    methods:{
        getCi(id){
            var ci
            this.usuarios.forEach(element => {
                if(element.id == id){
                    ci= element.ci
                }
            });
            return ci
        },
        getNombre(id){
            var nombre
            this.usuarios.forEach(element => {
                if(element.id == id){
                    nombre= element.nombre_completo
                }
            });
            return nombre
        },
        getEmail(id){
            var email
            this.usuarios.forEach(element => {
                if(element.id == id){
                    email= element.email
                }
            });
            return email
        }
    },
    setup() {
        
    },
}
</script>
<style>
.ajusts{
    max-height: 500px !important;
    overflow-x: auto;
}

</style>