<template>
  <div class="card">
    <div class="p-3 mx-4 text-center card-header d-flex justify-content-center">
      <div
        class="icon icon-shape icon-lg shadow text-center border-radius-lg"
      >
        <img :src="item.imagen" alt="" class="actImg">
      </div>
    </div>
    <div class="p-3 pt-0 text-center card-body">
      <h6 class="mb-0 text-center">{{ item.nombre }}</h6>
      <h5 class="mb-0 text-center">{{ item.precio }} Bs.</h5>
      <span class="text-xs">{{ item.descripcion }}</span>
        <editar-producto :item="item" @response="(data)=>{if(data){act=data;send()}}"></editar-producto>
      <hr class="my-3 horizontal dark" />
      <h5 class="mb-0">{{ item.cantidad }}</h5>
    </div>
  </div>
</template>

<script>
import EditarProducto from "@/views/components/UpdatesInfo/UpdateProducto.vue"
export default {
  name: "ProductoInfoCard",
  components:{
    EditarProducto 
  },
  props: {
    item: Object
  },
  data(){
    return{
      act: null
    }
  },
  methods:{
    send(){
      this.$emit("act", true)
    }
  }
};
</script>
<style>
.actImg{
  width: 64px;
  height: 64px;
  border-radius: 0.75rem !important;
}
</style>