<template>
    <div class="card-body px-0 pt-0 pb-2 ajusts">
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                        <th
                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                            Usuario
                        </th>
                        <th
                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                        >
                            Cedula de identidad
                        </th>
                        <th
                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                        >
                            Rol
                        </th>
                        <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                            Estado
                        </th>
                        <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                            Fecha de registro
                        </th>
                        <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                        <tbody>
                        <tr v-for="item in usuarios" :key="item.id">
                        <td>
                            <div class="d-flex px-2 py-1">
                            <div v-if="item.imagen">
                                <soft-avatar
                                :img="item.imagen"
                                size="sm"
                                border-radius="lg"
                                class="me-3"
                                alt="user1"
                                />
                            </div>
                            <div v-else>
                                <soft-avatar
                                :img="img"
                                size="sm"
                                border-radius="lg"
                                class="me-3"
                                alt="user1"
                                />
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{item.nombre_completo}}</h6>
                                <p class="text-xs text-secondary mb-0">
                                {{item.email}} 
                                </p>
                            </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">{{item.ci}}</p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">{{item.rol}}</p>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <soft-badge v-if="item.estado==='Habilitado'" color="success" variant="gradient" size="sm"
                            >{{item.estado}}</soft-badge
                            >
                            <soft-badge v-else color="warning" variant="gradient" size="sm"
                            >{{item.estado}}</soft-badge
                            >
                        </td>

                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold"
                            >{{item.fecha_registro}}</span
                            >
                        </td>
                        <td class="align-middle">
                            <modal-user-update @response="(data)=>{if(data){users = data;ListarUsuarios()}}" :item="item"/>
                            <memorandum-bonus :id="item.id" :nombre="item.nombre_completo"/>
                            <payment-bulletin :id="item.id" :usuario="item"/>
                        </td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</template>
<script>
import ModalUserUpdate from "./UpdatesInfo/UpdateUsuario.vue"
//import SpreadSheets from "./components/reports/spreadsheets.vue"
import PaymentBulletin from "./reports/paymentBulletin.vue"
import MemorandumBonus from "./reports/memorandumBonus.vue"
import SoftAvatar from "@/components/SoftAvatar.vue"
import SoftBadge from "@/components/SoftBadge.vue"
import img from "@/assets/img/default_user.jpg"
export default {
    name: "tableusers",
    components:{
        SoftAvatar,
        SoftBadge,
        ModalUserUpdate,
        //SpreadSheets,
        PaymentBulletin,
        MemorandumBonus,
    },  
    props:{
        usuarios: Array
    },
    data(){
        return{
            users:[],
            img
        }
    },
    methods:{
        ListarUsuarios(){
            this.$emit("users", this.users)
        }
    },
    setup() {
        
    },
}
</script>
<style>
.ajusts{
    max-height: 500px !important;
    overflow-x: auto;
}

</style>