<template>
<div>
  <div
    class="w-auto h-auto collapse navbar-collapse max-height-vh-100 h-100"
    id="sidenav-collapse-main"
  >
    <ul class="navbar-nav" v-if="rol == 'Recepción' || rol == 'Administrador'">
      <li class="nav-item">
        <sidenav-collapse navText="Principal" :to="{ name: 'Principal' }">
          <template #icon>
            <shop />
          </template>
        </sidenav-collapse>
      </li>
      <li class="nav-item">
        <sidenav-collapse navText="Kardex" :to="{ name: 'Shop' }">
          <template #icon>
            <shop />
          </template>
        </sidenav-collapse>
      </li>
      <li class="nav-item">
        <sidenav-collapse navText="pruebas" :to="{ name: 'pruebas' }">
          <template #icon>
            <shop />
          </template>
        </sidenav-collapse>
      </li>
      <li class="nav-item">
        <sidenav-collapse navText="Caja" :to="{ name: 'Caja' }">
          <template #icon>
            <office />
          </template>
        </sidenav-collapse>
      </li>
      <li class="mt-3 nav-item">
        <h6
          class="text-xs ps-4 text-uppercase font-weight-bolder opacity-6"
          :class="this.$store.state.isRTL ? 'me-4' : 'ms-2'"
        >
          REGISTROS
        </h6>
      </li>
      <li class="nav-item">
        <sidenav-collapse navText="Personas" :to="{ name: 'Registro-Persona' }">
          <template #icon>
            <customer-support />
          </template>
        </sidenav-collapse>
      </li>
      <li class="nav-item">
        <sidenav-collapse navText="Habitaciones" :to="{ name: 'Registro-Habitacion' }">
          <template #icon>
            <customer-support />
          </template>
        </sidenav-collapse>
      </li>
      <li class="nav-item">
        <sidenav-collapse navText="Activos" :to="{ name: 'Registro-Activos' }">
          <template #icon>
            <customer-support />
          </template>
        </sidenav-collapse>
      </li>    
    </ul>
    <ul class="navbar-nav" v-if="rol=='Administrador'">
      <li class="mt-3 nav-item" >
        <h6
          class="text-xs ps-4 text-uppercase font-weight-bolder opacity-6"
          :class="this.$store.state.isRTL ? 'me-4' : 'ms-2'"
        >
          ADMINISTRACION
        </h6>
      </li>
      <li class="nav-item">
        <sidenav-collapse navText="Gestion de Personal" :to="{ name: 'Admin' }">
          <template #icon>
            <customer-support />
          </template>
        </sidenav-collapse>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="mt-3 nav-item" >
        <h6
          class="text-xs ps-4 text-uppercase font-weight-bolder opacity-6"
          :class="this.$store.state.isRTL ? 'me-4' : 'ms-2'"
        >
          Personal
        </h6>
      </li>
      <li class="nav-item">
        <sidenav-collapse navText="Personal" :to="{ name: 'Personal' }">
          <template #icon>
            <customer-support />
          </template>
        </sidenav-collapse>
      </li>
    </ul>
  </div>
</div>
</template>
<script>
import SidenavCollapse from "./SidenavCollapse.vue";
import Shop from "../../components/Icon/Shop.vue";
import Office from "../../components/Icon/Office.vue";
import CustomerSupport from "../../components/Icon/CustomerSupport.vue";
import {mapState} from "vuex"
export default {
  name: "SidenavList",
  props: {
    cardBg: String,
  },
  data() {
    return {
      title: "Soft UI Dashboard PRO",
      controls: "dashboardsExamples",
      isActive: "active",
    };
  },
  computed:{
    ...mapState(["rol"])
  },
  components: {
    SidenavCollapse,
    Shop,
    Office,
    CustomerSupport,
  },
  methods: {
    getRoute() {
      const routeArr = this.$route.path.split("/");
      return routeArr[1];
    },
  },
};
</script>
